<div class="btn-h2-button">
  <h3 mat-dialog-title>{{data}}</h3>

    <mat-icon class="mat-18" mat-dialog-close>close</mat-icon>
</div>
<div class="mat-form-field-icons">
  <mat-form-field appearance="outline">
    <input type="text" matInput placeholder=" Digite o local da entrega">
    <mat-icon matSuffix>location_on</mat-icon>
  </mat-form-field>
</div>
<div class="icon-endereco">
  <div class="button-endereco">
    <mat-icon class="radio_button mr-4">radio_button_checked</mat-icon>
    <p> Centro, Rio de Janeiro-RJ,BRASIL</p>
  </div>
  <mat-icon >edit</mat-icon>
</div>
<div class="usar-minha-localizacao">
  <div class="mat-divider">
    <mat-divider></mat-divider>
  </div>
  <mat-icon>assistant navigation</mat-icon>
  <h5>Usar minha localização</h5>
</div>

