@media (min-width: 481px) and (max-width: 768px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: #E49011;
  }
  p {
    display: flex;
    font-size: 3.03938rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    position: fixed;
    left: 1rem;
    top: 1rem;
    font-family: poppins;
    color: #E49011;
    text-shadow: 0px 2.026245594024658px 2.026245594024658px 0px #FFF;
  }
  .div-pai-img-form {
    display: flex;
    justify-content: center;
    background-image: url("/assets/img/login/pseudo-481a768.svg");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center top;
    width: 68.87088rem;
    height: 68.87088rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
    bottom: 18rem;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9.53794rem;
    height: 9.53794rem;
    position: fixed;
    top: 1%;
    border-radius: 9.53794rem;
    background: #fff;
    box-shadow: 0px 13.249284744262695px 13.249284744262695px 0px #717171;
    overflow: hidden;
  }
  .logo-sobreposta {
    display: flex;
    width: 11.80606rem;
    height: 7.141rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  //Div que contem a div de todo o conteudo do formúlario
  .container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 21.48219rem;
    padding: 1.78538rem 2.10613rem 2.80588rem 2.10606rem;
    flex-direction: column;
    align-items: center;
    border-radius: 0.337rem;
    background: #FFF;
    height: 25rem;
    position: fixed;
    top: 12rem;
    box-shadow: 0px 2.6958060264587402px 10.783224105834961px 0px rgba(0, 0, 0, 0.06), 0px 0.6739515066146851px 2.6958060264587402px 0px rgba(0, 0, 0, 0.05);
  }
  //Frase: falta pouco para matar sua fome
  h1 {
    display: flex;
    width: 12rem;
    color: #414143;
    font-family: Poppins;
    font-size: 1.87644rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.10613rem;
    letter-spacing: -0.00606rem;
    position: relative;
    bottom: 3.5rem;
    left: 0;
  }
  //Frase: Como deseja continuar
  h2 {
    display: flex;
    color: #717171;
    text-align: center;
    font-family: Poppins;
    font-size: 1.39rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.74388rem;
    white-space: nowrap;
    position: relative;
    bottom: 3rem;
    left: 0%;
  }
  .button-google-fecebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 3rem;
    right: 0.5rem;
    gap: 0.5rem;
  }
  //botão facebook-google
  .button-facebook {
    display: inline-flex;
    align-items: flex-start;
    height: 2.10613rem;
    white-space: nowrap;
    padding: 0.42125rem 3.11313rem 0.42119rem 0.84244rem;
    gap: 1.05075rem;
    border-radius: 0.1685rem;
    flex-shrink: 0;
    background: #4065b4;
  }
  .button-facebook img {
    width: 1.26369rem;
    height: 1.26369rem;
    flex-shrink: 0;
  }
  //Span do botão facebook
  .span-facebook {
    text-align: center;
    font-family: Poppins;
    font-size: 0.85694rem;
    font-style: normal;
    font-weight: 500;
    color: #FFF;
    line-height: 1.01094rem;
  }
  .button-google {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    position: inherit;
    padding: 0.26113rem 4.29931rem 0.29875rem 0.79569rem;
    gap: 1.683rem;
    border-radius: 0.1685rem;
    border: 1.469px solid #DCDCDC;
    flex-shrink: 0;
    font-size: 0.76513rem;
    background: #fff;
  }
  .button-google img {
    width: 0.75819rem;
    height: 0.75819rem;
    flex-shrink: 0;
  }
  .span-google {
    color: #3c4043;
    font-family: Poppins;
    font-size: 0.76513rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0105rem;
  }
  .btn-email-celular {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    position: relative;
    bottom: 2rem;
    right: 0.7rem;
  }
  .button-celular {
    display: inline-flex;
    align-items: flex-start;
    position: relative;
    left: 0.5rem;
    padding: 0.58969rem 2.49488rem 0.50544rem 2.43338rem;
    border-radius: 0.1685rem;
    border: 1.469px solid #DCDCDC;
    background: #FFF;
  }
  .button-email {
    display: inline-flex;
    padding: 0.58969rem 3.036rem 0.50544rem 3.02925rem;
    align-items: flex-start;
    border-radius: 0.1685rem;
    border: 1.469px solid #DCDCDC;
    background: #FFF;
  }
  .span-email-celular {
    color: #a6a6a6;
    text-align: center;
    font-family: Poppins;
    font-size: 0.97931rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.0645rem;

  }
  .border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    left: 0;
  }
  .bordar-horizontal {
    width: 18.27913rem;
    height: 0.03906rem;
    flex-shrink: 0;
    position: relative;
    right: 0.5rem;
    border-top: 1.469px solid rgba(106, 105, 110, 0.80);
  }
}
