<!--Aqui começa o conteúdo das telas 481px e 768px tela-quatro-->
<header class="header-tela-quatro">
  <div class="div-logo-tela-quatro">
    <img
      class="logo-tela-quatro"
      src="assets/img/logo2.png"
      alt="imagem de paes"
    />
  </div>
  <div class="paragrafo-e-icones-tela-quatro" (click)="openDialog()">
    <div class="img-tela-quatro">
      <img
        class="icon-localizacao-tela-quatro"
        src="assets/img/carbon_location-filled-tela-tres.svg"
        alt="icone-localização-tela-quatro"
      />
    </div>
    <div class="text-tela-quatro">
      <p class="paragrafo-localizacao-tela-quatro">Escolha um endereço</p>
    </div>
    <div class="div-seta-invertida-tela-quatro">
      <img
        class="icon-seta-inveritda-tela-quatro"
        src="assets/img/eva_arrow-down-fill-atual.svg"
        alt=" icone-seta"
      />
    </div>
  </div>
</header>
<div class="menu-tela-quatro">
  <a class="menu-filho-tela-quatro" routerLink="home" routerLinkActive="active"
    >Início</a
  >
  <a
    class="menu-filho-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
    >Padarias</a
  >
  <a
    class="menu-filho-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
    >Contato</a
  >
  <a
    class="menu-filho-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
    >Sobre</a
  >
</div>
<!---Início do carrossel que ainda faz parte da tela-tres-->
<div class="grupo-botoes-tela-quatro">
  <button
    class="button-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-quarto">Ordenar</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <img src="assets/img/Frame-1.svg" alt="imagem 1" />
    <span class="paragrafo-btns-tela-quatro">Pra Retirar</span>
  </button>
  <button
    class="button-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-quatro">Entrega grátis</span>
  </button>
  <button
    class="button-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-quatro">Entrega parceira</span>
  </button>
  <button
    class="button-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-quatro">vale refeição</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-quatro"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-quatro">Distância</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
</div>

<div class="groupo-icones-img-fixo-tela-quatro">
  <div class="item-fixo-tela-quatro">
    <img src="assets/img/material-symbols_search.svg" alt="Buscar" />
    <span>Buscar</span>
  </div>
  <div class="item-fixo-tela-quatro">
    <img src="assets/img/bi_card-checklist.svg" alt="Pedidos" />
    <span>Pedidos</span>
  </div>
  <div class="item-fixo-tela-quatro">
    <img src="assets/img/ic_baseline-contact-phone.svg" alt="Contato" />
    <span>Contatos</span>
  </div>
  <div class="item-fixo-tela-quatro">
    <img src="assets/img/gg_profile.svg" alt="Perfil" />
    <span>Perfil</span>
  </div>
</div>
