<!---Aqui começa a parte que vai representar as telas de 1200px pra cima-->
<app-header-tela-um *ngIf="innerWidth >= 1201"></app-header-tela-um>

<!--Aqui começa a parte da que corresponde as telas de 1025px a 1200px tela-dois-->
<app-header-tela-dois *ngIf="innerWidth >= 1025 && innerWidth <= 1200"></app-header-tela-dois>

<!--Aqui começa a parte da que corresponde as telas de 769 a 1024 tela-três-->
<app-header-tela-tres *ngIf="innerWidth >= 769 && innerWidth <= 1024"></app-header-tela-tres>

<!--Aqui começa a parte da que corresponde as telas entre 481 e 768 tela-cinco-->
<app-header-tela-quatro *ngIf="innerWidth >= 481 && innerWidth <= 768"></app-header-tela-quatro>

<!-- Aqui começa a estilização das telas entre 320px e 480px tela-cinco -->
<app-header-tela-cinco *ngIf="innerWidth >= 320 && innerWidth <= 480"></app-header-tela-cinco>

<!-- max - 319px -->
<app-header-tela-seis *ngIf="innerWidth <= 319"></app-header-tela-seis>
<!--<div class="div-menu-tela-tres">
  <a class="div-menu-filho-tela-tres" routerLink="home" routerLinkActive="active">Início
    <img class="icon-seta-invertida-tela-tres" src="assets/img/Group.svg" alt="">
  </a>
   <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
  <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Contato</a>
  <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Sobre</a>
</div>
<form class="input-wrapper-tela-tres">
  <input type="text" name="search" placeholder="Buscar por itens e outros">
  <img src="assets/img/mi_search.svg" alt="Ícone" class="icon-search-tela-tres">
</form>

<div class="borda-vertical-tela-tres">
  <img src="assets/img/Vector2.svg" alt="">
</div>
<div class="icone-carrinho-tela-tres">
  <button class="btn-tela-tres">Entrar</button>
  <img src="assets/img/mdi_cart.svg" alt="icone seta">
</div>-->
