/* Estilos para telas extra grandes e TVs (1201px e mais) */
@media (min-width: 1201px) {
  /*Ocultamento de outras telas*/
  .header-tela-dois {
    display: none;
  }
  .header-tela-tres {
    display: none;
  }
  .header-tela-quatro {
    display: none;
  }
  .header-tela-cinco {
    display: none;
  }
  .header-tela-seis {
    display: none;
  }
  .groupo-icones-img-fixo-tela-dois {
    display: none;
  }
  .groupo-icones-img-fixo-tela-tres {
    display: none;
  }
  .groupo-icones-img-fixo-tela-quatro {
    display: none;
  }
  .groupo-icones-img-fixo-tela-cinco {
    display: none;
  }
  .groupo-icones-img-fixo-tela-seis {
    display: none;
  }
  .menu-tela-tres {
    display: none;
  }

  .mat-menu-tigger-for {
    display: none;
  }

  .grupo-botoes-tela-dois {
    display: none;
  }

  .grupo-botoes-tela-tres {
    display: none;
  }
  .grupo-botoes-tela-quatro {
    display: none;
  }
  .grupo-botoes-tela-cinco {
    display: none;
  }
  .grupo-botoes-tela-seis {
    display: none;
  }
   /*como essa div está abaixo dos headers precisa também ser ocultada em outras telas*/
   .menu-tela-quatro {
    display: none;
  }
  /*Estilização da tag superior header*/
  .header-tela-um {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.375rem;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(228, 144, 17, 0.1);
    background: #fff;
  }

  //Estilização da div-logo e da logo.
  .div-logo-tela-um {
    display: flex;
    position: relative;
    //right: 0.3rem;
    margin: 0;
    padding: 0;
  }
  .logo-tela-um {
    display: flex;
    width: 4.45206rem;
    height: 3.75rem;
    flex-shrink: 1;
    //background: lightgray -22.661px -8.225px / 164.565% 126.805% no-repeat;
    margin: 0;
    padding: 0;
  }

  // Estilização do paragrafo e dos icones div pai e div filho
  .paragrafo-e-icones-tela-um {
    //width: 21.375rem;
    display: flex;
    align-items: center;
    //width: 11.48333rem;
    padding-right: 0px;
    gap: 0.25rem;
    position: relative;
    right: 1rem;
    cursor: pointer;
  }
  .paragrafo-e-icones-tela-um p {
    display: flex;
    color: #e3b34d;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    flex-shrink: 1;
  }
  .icon-localizacao-tela-um {
    flex-shrink: 1;
    color: #fc7310;
    margin: 0% 0% 5% 0%;
  }
  .icon-seta-tela-um {
    margin: 0% 0% 5% 0%;
  }
  .p-localizacao-tela-um {
    color: #e3b34d;
    font-size: 1rem;
    font-family: proppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // Borda vertical ao lado do menu
  .borda-vertical-tela-um {
    width: 0px;
    flex-shrink: 0;
    position: relative;
    right: 1rem;
  }

  .borda-vertical-tela-um img {
    opacity: 0.50000001192092896;
  }
  // Estilização da div que contém os menus
  .div-menu-tela-um {
    display: inline-flex;
    align-items: flex-start;
    gap: 1.20rem;
    position: relative;
  }
  //Estilização dos menus
  .div-menu-filho-tela-um {
    color: #1e1e1e;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: auto;
    text-decoration: none;
  }
  //Estilização da div que contém o input
  .input-wrapper-tela-um {
    display: flex;
    display: inline-flex;
    align-items: center;
    height: 1.875rem;
    padding: 0.125rem 0.10419rem 0.1875rem 0.3125rem;
    border-radius: 0.6875rem;
    flex-shrink: 0;
    border: 1px solid #717171;
  }

  //Dimensões do input
  .input-tela-um {
    display: flex;
    border: none;
    outline: none;
    width: 21.66667rem;
  }

  /*Estilização do placeholder do input de pesquisa*/
  ::placeholder {
    display: flex;
    color: #717171;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }
  //Estilização da img carrinho
  .icone-carrinho-tela-um {
    display: flex;
    position: relative;
    right: 0.9rem;
    gap: 1rem;
  }
  /*Estilização do botão entrar/header*/
  .btn-tela-um {
    display: inline-flex;
    padding: 0.5rem 0.72919rem 0.5rem 0.6875rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5rem;
    background: #e49011;
    border: none;
    color: #fffffa;
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    right: 0.9rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  //hover do botão Entrar do header
  .btn-tela-um:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }
  /*Estilização do Carrossel*/
  .grupo-botoes-tela-um {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 20px;
    position: relative;
    top: 4.5rem;
    flex-shrink: 0;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .grupo-button-tela-um:hover {
    transform: translateY(-3px); transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  }
  //Estilização dos botões do corrossel
  .button-tela-um {
    display: inline-flex;
    padding: 8.8px 15.8px 6.2px 22.8px;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 1px;
    border-radius: 20px;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 19px;
    line-height: 24.15px;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  //hover para os botões do carrossel da tela header
  .button-tela-um:hover {
    transform: translateY(-3px); transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-um::-webkit-scrollbar {
    display: none;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-um .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  button:focus {
    color: #e49011;
    text-decoration: underline;
  }
}
/* Estilos para telas de 1025px a 1200px tela dois*/
@media (min-width: 1025px) and (max-width: 1200px) {
  /*Ocultamento da tela 1248 a superior*/
  .header-tela-um { //tela-um
    display: none;
  }
  .header-tela-tres {
    display: none;
  }
  .header-tela-quatro {
    display: none;
  }
  .header-tela-cinco {
    display: none;
  }
  .header-tela-seis {
    display: none;
  }
  .groupo-icones-img-fixo-tela-um {
    display: none;
  }
  .groupo-icones-img-fixo-tela-tres {
    display: none;
  }
  .groupo-icones-img-fixo-tela-quatro {
    display: none;
  }
  .groupo-icones-img-fixo-tela-cinco {
    display: none;
  }
  .groupo-icones-img-fixo-tela-seis {
    display: none;
  }
  .menu-tela-tres {
    display: none;
  }
  .grupo-botoes-tela-um {
    display: none;
  }
  .grupo-botoes-tela-tres {
    display: none;
  }
  .grupo-botoes-tela-quatro {
    display: none;
  }
  .grupo-botoes-tela-cinco {
    display: none;
  }
  .grupo-botoes-tela-seis {
    display: none;
  }
   /*como essa div está abaixo dos headers precisa também ser ocultada em outras telas*/
   .menu-tela-quatro {
    display: none;
  }
  /*Estilização da tag superior header*/
  .header-tela-dois {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.44219rem;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(228, 144, 17, 0.1);
    background: #fff;
  }

  //Estilização da div que contém a logo
  .div-logo-tela-dois {
    display: flex;
    position: relative;
    left: 0.3rem;
    width: 5.3375rem;
    height: 3.80756rem;
    margin: 0;
    padding: 0;
  }

  //Estilização da logo principal na parte superior esquerda da tela
  .logo-tela-dois {
    flex-shrink: 1;
    width: 5.3375rem;
    height: 3.80756rem;
    background: lightgray -30.652px -8.351px / 185.67% 126.805% no-repeat;
  }
  .mat-menu-tigger-for-tela-dois {
    display: flex;
    gap: 0.2rem;
    color: #e49011;
    font-size: 1.17075rem;
    font-family: Poppins;
    position: relative;
  }

   //Estilização da img seta invertida junto com o menu ao lado da logo
   .icon-seta-invertida-tela-dois {
    width: 0.80956rem;
    height: 0.84513rem;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    bottom: 0.5rem;
    transform: rotate(0deg); /* Definimos a rotação inicial */
    transition: transform 0.3s; /* Adicionamos uma transição suave */
  }
  //invertendo a seta para indicar que o menu está aberto
  .icon-seta-invertida-tela-dois:hover {
    transform: rotate(-180deg);
  }
  //Div pai que contém a div com os menus filhos
  .div-menu-tela-dois {
    display: flex;
    align-items: center;
    position: relative;
    right: 1.68rem;
  }
  //Estilização da div que contem os menus filho
  .div-menu-filho-tela-dois {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.12919rem;
    height: 4.51775rem;
    flex-shrink: 0;
    text-decoration: none;
    color: #1c1c1b;
    text-shadow: 0px 4.682926654815674px 4.682926654815674px 0px
      rgba(0, 0, 0, 0.25);
    font-size: 1.17075rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // Estilização do paragrafo e dos icones div pai e div filho
  .paragrafo-e-icones-tela-dois {
    display: flex;
    align-items: center;
    padding-right: 0px;
    gap: 0.25rem;
    position: relative;
    right: 0.5rem;
    top: 12%;
    cursor: pointer;
  }
  //Estilização do parágrafo p dentro da div que conttem o parágrago e os icones
  .paragrafo-e-icones-tela-dois p {
    display: flex;
    color: #e3b34d;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    flex-shrink: 1;
  }

  //icon de localização ao lado da tela dois
  .icon-localizacao-tela-dois {
    flex-shrink: 1;
    color: #fc7310;
    margin: 0% 0% 7% 0%;
  }
  //Seta ao lado do parágrafo tela-dois
  .icon-seta-invertida-tela-dois {
    width: 0.73169rem;
    height: 1.46344rem;
    flex-shrink: 0;
    margin: 19% 0% 5% 2%;
  }

  //Estilização do parágrafo de localização da tela dois
  .p-localizacao-tela-dois {
    color: #e3b34d;
    font-size: 1rem;
    font-family: proppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // Borda vertical ao lado do menu
  .borda-vertical-tela-dois {
    width: 0px;
    height: 1.875rem;
    flex-shrink: 0;
    position: relative;
    right: 0.5rem;
    opacity: 0.9;
    color: #000000;
  }
  //Estilização do input
  .input-wrapper-tela-dois {
    display: flex;
    display: inline-flex;
    align-items: center;
    display: inline-flex;
    padding: 0.20619rem 0.60438rem 0.33538rem 1.16925rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.99763rem;
    border: 1.306px solid #717171;
    position: relative;
    top: 6%;
  }
  input {
    display: flex;
    border: none;
    outline: none;
    width: 21.66667rem;
  }
  /*Estilização do placeholder do input de pesquisa*/
  ::placeholder {
    display: flex;
    color: #717171;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }
  .icone-carrinho-tela-dois {
    display: flex;
    position: relative;
    right: 1rem;
    gap: 1rem;
  }
  .btn-tela-dois {
    display: inline-flex;
    padding: 0.2585rem 0.64031rem 0.279rem 0.60969rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.521rem;
    background: #e49011;
    border: none;
    color: #fffffa;
    font-size: 1.17075rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  //hover para o botão entrar/header telas 1025px a 1200px
  .btn-tela-dois:hover {
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }
  //Estilização do carrossel
  .grupo-botoes-tela-dois {
    display: flex;
    width: 100%;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 2rem;
    position: fixed;
    top: 5rem;
    bottom: 0;
    left: 0.86rem;
    flex-shrink: 0;
    scroll-snap-type: x mandatory;
   scroll-behavior: smooth;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-dois::-webkit-scrollbar {
    display: none;
  }
  .button-tela-dois {
    display: inline-flex;
    padding: 0.55rem 0.9875rem 0.3875rem 1.425rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.0625rem;
    border-radius: 1.25rem;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 1.1875rem;
    line-height: 1.50938rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .button-tela-dois:hover {
    transform: translateY(-3px); transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-dois .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  button:focus {
    color: #e49011;
    text-decoration: underline;
  }
}

/* Estilos para telas de 769px a 1024px tela-três */
@media (min-width: 769px) and (max-width: 1024px) {
  .header-tela-um {
    display: none;
  }
  .header-tela-dois {
    display: none;
  }
  .header-tela-quatro {
    display: none;
  }
  .header-tela-cinco {
    display: none;
  }
  .header-tela-seis {
    display: none;
  }
  .grupo-botoes-tela-um {
    display: none;
  }
  .grupo-botoes-tela-dois {
    display: none;
  }
  .grupo-botoes-tela-quatro {
    display: none;
  }
  .grupo-botoes-tela-seis {
    display: none;
  }
  .grupo-botoes-tela-dois {
    display: none;
  }
  .groupo-icones-img-fixo-tela-um {
    display: none;
  }
  .groupo-icones-img-fixo-tela-dois {
    display: none;
  }
  .groupo-icones-img-fixo-tela-quatro {
    display: none;
  }
  .groupo-icones-img-fixo-tela-cinco {
    display: none;
  }
  .groupo-icones-img-fixo-tela-seis {
    display: none;
  }
  /*como essa div está abaixo dos headers precisa também ser ocultada em outras telas*/
  .menu-tela-quatro {
    display: none;
  }
  .header-tela-tres {
    width: 100%;
    display: flex;
    align-items: center;
    height: 8.38869rem;
    flex-shrink: 0;
    background: #fff;
    position: fixed;
    box-shadow: 0px 9.582062721252441px 9.582062721252441px 0px
      rgba(228, 144, 17, 0.1);
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    flex-shrink: 0;
  }

  .div-logo-tela-tres {
    display: flex;
    position: relative;
    left: 1.5rem;
  }
  .logo-tela-tres {
    width: 9.97056rem;
    height: 4.58344rem;
    flex-shrink: 0;
  }
  .paragrafo-e-icones-tela-tres {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    left: 3rem;
    cursor: pointer;
  }

  .paragrafo-localizacao-tela-tres {
    color: #e3b34d;
    font-size: 2.09606rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }

  .img-tela-tres {
    display: flex;
    align-items: center;
    margin: 4% 0% 8% 1%;
  }
  .icon-localizacao-tela-tres {
    width: 2.99438rem;
    height: 2.99438rem;
    flex-shrink: 0;
  }
  //div que contém a setá invertida ao lado do paragrafo
  .img-seta-invertida-tela-tres {
    display: flex;
    align-items: center;
    margin: 0% 0% 3% 1%;
    flex-shrink: 0;

  }
  //seta invertida
  .icon-seta-inveritda-tela-tres {
    width: 1.04806rem;
    height: 2.09606rem;
    flex-shrink: 0;
  }

  /*Div pai, parte que vai ficar fixa na parte inferior da tela de 769 a 1025*/
  .menu-tela-tres {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 7rem;
    height: 2.35956rem;
    flex-shrink: 0;
    border-bottom: 1.573px solid rgba(113, 113, 113, 0.46);
    gap: 2.12rem;
  }

  /*div de cada item do menu*/
  .menu-filho-tela-tres {
    display: flex;
    position: relative;
    color: #1e1e1e;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.5625rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    left: 2.06rem;
  }

  /*aplicação de estilos para ser aplicada após o click (Ativo)*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }

  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }


  /*Estilização do Carrossel*/
  .grupo-botoes-tela-tres {
    display: flex;
    //justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 20px;
    position: fixed;
    top: 10rem;
    bottom: 0;
    left: 0.86rem;
    flex-shrink: 0;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-tres::-webkit-scrollbar {
    display: none;
  }
  .button-tela-tres {
    display: inline-flex;
    padding: 0.55rem 0.9875rem 0.3875rem 1.425rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.0625rem;
    border-radius: 1.25rem;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 1.1875rem;
    line-height: 1.50938rem;
  }

  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-tres .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .button:focus {
    color: #e49011;
    text-decoration: underline;
  }

  //Estilização do span
  .item-fixo-tela-tres span {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    color: #1e1e1e;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  //Estilização da img
  .item-fixo-tela-tres img {
    display: flex;
    //width: 3.85863rem;
    //height: 3.85188rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4815rem 0.48238rem 0.4815rem 0.48231rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 5px;
  }
    /*conteúdo da parte inferior da tela*/
    .groupo-icones-img-fixo-tela-tres {
      display: flex;
      position: fixed;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
      height: 6.375rem;
      border-top: 1.594px solid rgba(228, 144, 17, 0.34);
      box-shadow: 0px 9.57807731628418px 9.57807731628418px 0px
        rgba(228, 144, 17, 0.1);
      width: 100%;
      bottom: 0;
      gap: 8.42rem;
      z-index: 9999;
      background: rgba(13, 12, 10, 0.06);
    }
      //div que agrupa o span e a img
  .item-fixo-tela-tres-tela-tres {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
/*Estilização das para tamanhos de telas de 481px até 768px tela-quatro*/
@media (min-width: 481px) and (max-width: 768px) {
  .header-tela-um {//tela 1201 ou superiores ocultas nessa media
    display: none;
  }
  .header-tela-dois { //telas 1025px a 1200px
    display: none;
  }
  .header-tela-tres {
    display: none;
  }

  .header-tela-cinco { //telas 319px ou inferiores
    display: none;
  }
  .header-tela-seis {
    display: none;
  }
  .grupo-botoes-tela-um {
    display: none;
  }
  .grupo-botoes-tela-dois {
    display: none;
  }
  .grupo-botoes-tela-tres {
    display: none;
  }
  .grupo-botoes-tela-quatro {
    display: none;
  }
  .grupo-botoes-tela-cinco {
    display: none;
  }
  .grupo-botoes-tela-seis {
    display: none;
  }
  .groupo-icones-img-fixo-tela-um {
    display: none;
  }
  .groupo-icones-img-fixo-tela-dois {
    display: none;
  }
  .groupo-icones-img-fixo-tela-tres {
    display: none;
  }
  .groupo-icones-img-fixo-tela-cinco {
    display: none;
  }
  .groupo-icones-img-fixo-tela-seis {
    display: none;
  }

  .header-tela-quatro {
    width: 100%;
    display: flex;
    align-items: center;
    height: 5.26369rem;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    box-shadow: 0px 9.582062721252441px 9.582062721252441px 0px
      rgba(228, 144, 17, 0.1);
  }
  .div-logo-tela-quatro {
    display: flex;
    position: relative;
    left: 0.8rem;
  }
  .logo-tela-quatro {
    width: 6.2365rem;
    height: 3.86013rem;
    flex-shrink: 0;
  }

  .paragrafo-e-icones-tela-quatro {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    left: 3rem;
    cursor: pointer;
  }
  .paragrafo-localizacao-tela-quatro {
    color: #e3b34d;
    font-size: 1.31525rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }
  .img-tela-quatro {
    display: flex;
    align-items: center;
    margin: 4% 0% 8% 1%;
  }
  .icon-localizacao-tela-quatro {
    width: 1.87894rem;
    height: 1.87894rem;
    flex-shrink: 0;
  }
  .img-seta-invertida-tela-quatro {
    display: flex;
    align-items: center;
    margin: 0% 0% 3% 1%;
    flex-shrink: 0;
  }
  .icon-seta-inveritda-tela-quatro {
    width: 1.04806rem;
    height: 2.09606rem;
  }
  /*Div pai, parte que vai ficar fixa na parte inferior da tela de 481 a 768*/
  .menu-tela-quatro {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    height: 2.35956rem;
    flex-shrink: 0;
    border-bottom: 1.573px solid rgba(113, 113, 113, 0.46);
    gap: 2.17rem;
  }
  /*div de cada item do menu*/
  .menu-filho-tela-quatro {
    display: flex;
    position: relative;
    color: #1e1e1e;
    text-shadow: 0px 6.292109489440918px 6.292109489440918px 0px
      rgba(0, 0, 0, 0.25);
    font-size: 1.25rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    left: 1.36rem;
  }
  /*aplicação de estilos para ser aplicada após o click (Ativo)*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }
  /*conteúdo da parte inferior da tela*/
  .groupo-icones-img-fixo-tela-quatro {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 6.375rem;
    border-top: 1.594px solid rgba(228, 144, 17, 0.34);
    box-shadow: 0px 9.57807731628418px 9.57807731628418px 0px
      rgba(228, 144, 17, 0.1);
    width: 100%;
    bottom: 0;
    //right: 50%;
    //left: 50%;
    gap: 4.9rem;
    z-index: 9999;
    background: rgba(13, 12, 10, 0.06);
  }
  /*Estilização do Carrossel*/
  .grupo-botoes-tela-quatro {
    display: flex;
    //justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 1.52rem;
    position: relative;
    top: 15px;
    left: 0.86rem;
    flex-shrink: 0;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-quatro::-webkit-scrollbar {
    display: none;
  }
  .button-tela-quatro {
    display: inline-flex;
    padding: 0.4505rem 1.10356rem 0.34713rem 1.16713rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.308rem;
    border-radius: 1.25rem;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 0.97263rem;
    line-height: 1.23625rem;
  }

  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-quatro .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  button:focus {
    color: #e49011;
    text-decoration: underline;
  }
  //div que agrupa o span e a img
  .item-fixo-tela-quatro {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  //Estilização do span
  .item-fixo-tela-quatro span {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    color: #1e1e1e;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  //Estilização da img
  .item-fixo-tela-quatro img {
    display: flex;
    //width: 3.85863rem;
    //height: 3.85188rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4815rem 0.48238rem 0.4815rem 0.48231rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-right: 5px;
  }
}
//Aqui começa a estilização das telas entre 320px e 480px tela-cinco
@media (min-width: 320px) and (max-width: 480px) {
  .header-tela-um {
    display: none;//telas 1201 ou superiores
  }
  .header-tela-dois {//telas 1025px a 1200px
    display: none;
  }
  .header-tela-tres {
    display: none;
  }
  .header-tela-quatro {
    display: none;
  }
  .header-tela-seis {
    display: none;
  }
  .grupo-botoes-tela-um {
    display: none;
  }
  .grupo-botoes-tela-dois {
    display: none;
  }
  .grupo-botoes-tela-tres {
    display: none;
  }
  .grupo-botoes-tela-quatro {
    display: none;
  }
  .grupo-botoes-tela-seis {
    display: none;
  }
   /*como essa div está abaixo dos headers precisa também ser ocultada em outras telas*/
   .menu-tela-quatro {
    display: none;
  }
  .header-tela-cinco {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4.20569rem;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    box-shadow: 0px 9.582062721252441px 9.582062721252441px 0px
      rgba(228, 144, 17, 0.1);
  }
  .div-logo-tela-cinco {
    display: flex;
    position: relative;
    left: 0.5rem;
  }
  .logo2-tela-cinco {
    width: 4.149rem;
    height: 3.08425rem;
    flex-shrink: 0;
  }

  .paragrafo-e-icones-tela-cinco {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    left: 3rem;
    cursor: pointer;
  }
  .paragrafo-localizacao-tela-cinco {
    color: #e3b34d;
    font-size: 0.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }
  .img-tela-cinco {
    display: flex;
    align-items: center;
    margin: 2% 0% 8% 1%;
  }
  .icon-localizacao-tela-cinco {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }
  .img-seta-invertida-tela-cinco {
    display: flex;
    align-items: center;
    margin: 0% 0% 5% 1%;
    flex-shrink: 0;
  }
  .icon-seta-inveritda-tela-cinco {
    width: 0.4375rem;
    height: 0.875rem;
    flex-shrink: 0;
  }

  .menu-tela-cinco {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    position: relative;
    height: 2.35956rem;
    flex-shrink: 0;
    border-bottom: 1.573px solid rgba(113, 113, 113, 0.46);
    gap: 3.5rem;
  }
  /*div de cada item do menu*/
  .menu-filho-tela-cinco {
    display: flex;
    position: relative;
    color: #1e1e1e;
    text-shadow: 0px 6.292109489440918px 6.292109489440918px 0px
      rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    left: 1.5rem;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .menu-tela-cinco::-webkit-scrollbar {
    display: none;
  }
  /*aplicação de estilos para ser aplicada após o click (Ativo)*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }
  /*conteúdo da parte inferior da tela*/
  .groupo-icones-img-fixo-tela-cinco {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 3.6875rem;
    border-top: 1.594px solid rgba(228, 144, 17, 0.34);
    box-shadow: 0px 9.57807731628418px 9.57807731628418px 0px
      rgba(228, 144, 17, 0.1);
    width: 100%;
    bottom: 0;
    //right: 50%;
    //left: 50%;
    gap: 1.56rem;
    z-index: 9999;
    background: rgba(13, 12, 10, 0.06);
  }

  /*Estilização do Carrossel, compartilha configuração com a tela-dois*/
  .grupo-botoes-tela-cinco {
    display: flex;
    //justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 1.03rem;
    position: relative;
    top: 15px;
    left: 0.86rem;
    flex-shrink: 0;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-cinco::-webkit-scrollbar {
    display: none;
  }
  .button-tela-cinco {
    display: inline-flex;
    padding: 0.386rem 0.94569rem 0.30613rem 1.00013rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.22744rem;
    border-radius: 0.87731rem;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 0.97263rem;
    line-height: 1.23625rem;
  }

  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-cinco .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  button:focus {
    color: #e49011;
    text-decoration: underline;
  }
  //div que agrupa o span e a img
  .item-fixo-tela-cinco {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  //Estilização do span
  .item-fixo-tela-cinco span {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    color: #1e1e1e;
    font-size: 0.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  //Estilização da img
  .item-fixo-tela-cinco img {
    display: flex;
    //width: 3.85863rem;
    //height: 3.85188rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.4815rem 0.48238rem 0.4815rem 0.48231rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
@media (max-width: 319px) {
  .header-tela-um {
    display: none;
  }
  .header-tela-dois {
    display: none;
  }
  .header-tela-tres {
    display: none;
  }
  .header-tela-quatro {
    display: none;
  }
  .header-tela-ceinco {
    display: none;
  }
  .grupo-botoes-tela-um {
    display: none;
  }
  .grupo-botoes-tela-dois {
    display: none;
  }
  .grupo-botoes-tela-tres {
    display: none;
  }
  .grupo-botoes-tela-quatro {
    display: none;
  }
  .grupo-botoes-tela-cinco {
    display: none;
  }
   /*como essa div está abaixo dos headers precisa também ser ocultada em outras telas*/
   .menu-tela-quatro {
    display: none;
  }
  .header-tela-seis {
    width: 100%;
    display: flex;
    align-items: center;
    height: 4.20569rem;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    box-shadow: 0px 9.582062721252441px 9.582062721252441px 0px
      rgba(228, 144, 17, 0.1);
  }
  .div-logo-tela-seis {
    display: flex;
    position: relative;
    left: 0.5rem;
  }
  .logo-tela-seis {
    width: 4.149rem;
    height: 3.08425rem;
    flex-shrink: 0;
  }

  .paragrafo-e-icones-tela-seis {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    left: 3rem;
    cursor: pointer;
  }
  .paragrafo-localizacao-tela-seis {
    color: #e3b34d;
    font-size: 0.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
  }
  .img-tela-seis {
    display: flex;
    align-items: center;
    margin: 2% 0% 8% 1%;
  }
  .icon-localizacao-tela-seis {
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
  }
  .img-seta-invertida-tela-seis {
    display: flex;
    align-items: center;
    margin: 0% 0% 5% 1%;
    flex-shrink: 0;
  }
  .icon-seta-inveritda-tela-seis {
    width: 0.4375rem;
    height: 0.875rem;
    flex-shrink: 0;
  }
  /*Div pai, parte que vai ficar fixa na parte inferior da tela de 769 a 1025*/
  .menu-tela-seis {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    align-items: center;
    position: relative;
    height: 2.35956rem;
    flex-shrink: 0;
    border-bottom: 1.573px solid rgba(113, 113, 113, 0.46);
    gap: 3.5rem;
  }
  /*div de cada item do menu*/
  .menu-filho-tela-seis {
    display: flex;
    position: relative;
    color: #1e1e1e;
    text-shadow: 0px 6.292109489440918px 6.292109489440918px 0px
      rgba(0, 0, 0, 0.25);
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    left: 1.5rem;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .menu-tela-seis::-webkit-scrollbar {
    display: none;
  }
  /*aplicação de estilos para ser aplicada após o click (Ativo)*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }
  /*conteúdo da parte inferior da tela telas menores ou igual a 320px*/
  .groupo-icones-img-fixo-tela-seis {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 3.6875rem;
    border-top: 1.594px solid rgba(228, 144, 17, 0.34);
    box-shadow: 0px 9.57807731628418px 9.57807731628418px 0px
      rgba(228, 144, 17, 0.1);
    width: 100%;
    bottom: 0;
    //right: 50%;
    //left: 50%;
    gap: 1.56rem;
    z-index: 9999;
    background: rgba(13, 12, 10, 0.06);
  }
  /*Estilização do Carrossel tela-tres 320px ou menores*/
  .grupo-botoes-tela-seis {
    display: flex;
    //justify-content: center;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 1.03rem;
    position: relative;
    top: 15px;
    left: 0.86rem;
    flex-shrink: 0;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-seis::-webkit-scrollbar {
    display: none;
  }
  .button-seis {
    display: inline-flex;
    padding: 0.386rem 0.94569rem 0.30613rem 1.00013rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.22744rem;
    border-radius: 0.87731rem;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 0.97263rem;
    line-height: 1.23625rem;
  }

  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-seis .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  button:focus {
    color: #e49011;
    text-decoration: underline;
  }
  //div que agrupa o span e a img
  .item-fixo-tela-seis {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  //Estilização do span
  .item-fixo-tela-seis span {
    display: flex;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-shrink: 0;
    color: #1e1e1e;
    font-size: 0.875rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  //Estilização da img
  .item-fixo-tela-seis img {
    display: flex;
    //width: 3.85863rem;
    //height: 3.85188rem;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.4815rem 0.48238rem 0.4815rem 0.48231rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
}
