@media (min-width: 1201px) {

  //Div que contém todo o conteúdo
  .container-modal {
    display: flex;
    justify-content: center;
    // padding: 0rem 1.28294rem 1.28294rem 1.28294rem;
    flex-direction: column;
    align-items: center;
    gap: 1.28294rem;
  }

  .x-modal {
    display: flex;
    position: relative;
    top: 8px;
    left: 235px;
    //margin: 1rem;
  }

  //Estilização da img casa
  .img-casa-modal {
    width: 60px;
    height: 80px;
    position: relative;
    top: 0;
  }

  //Estilização h2 modal
  h2 {
    color: #2E2C36;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px;
    ;
    position: relative;
    bottom: 0px;
  }

  //Estilização do parágrafo
  p {
    color: #2E2C36;
    text-align: center;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.816px;
    /* 142.601% */
    position: relative;
    bottom: 30px;
  }

  //Estilização da img x, de fechar a modal
  .x-modal-img {
    width: 1.5395rem;
    height: 1.5395rem;
    flex-shrink: 0;
  }

  .div-input-modal {
    display: inline-flex;
    padding: 1.69988rem 1.60363rem 1.69988rem 3.91288rem;
    align-items: center;
    border-radius: 0.57731rem;
    border: 1.026px solid #f7f8f9;
    background: #f7f8f9;
    width: 25.4875rem;
    height: 1.0185rem;
    box-shadow: 0px 3.1148204803466797px 3.1148204803466797px 0px #fc7310;
    position: relative;
    bottom: 35px;
  }

  //Img de localização
  .img-localizacao-modal {
    width: 1.4395rem;
    height: 1.4395rem;
    flex-shrink: 0;
    position: relative;
    bottom: 0.3rem;
    right: 3rem;
  }

  //Estilização do input do dialog localização
  input {
    display: flex;
    width: 300px;
    height: 37px;
    flex-direction: column;
    justify-content: center;
    position: relative;
    right: 2.5rem;
    flex-shrink: 0;
    color: #757575;
    font-size: 0.89806rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
  }

  //Estilização do placeholder
  ::placeholder {
    color: #757575;
    font-size: 0.89806rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .btn-localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 385px;
    bottom: 400px;
    z-index: 9999;
  }

  button {
    border: none;
    padding: 0.3rem 2rem 0rem 2rem;
    display: inline-flex;
    border-radius: 1.125rem;
    gap: 1.125rem;
    align-items: center;
    font-family: Poppins;
    font-size: 12px;
    background: #000;
    border-radius: 1.125rem;
    color: #e49011;
  }

  .btn-flutuante img {
    width: 20px;
    height: 20px;
  }
} 

