<!--Aqui começa a parte da que corresponde as telas de 769 a 1024 tela-três-->
<div class="header-tela-tres">
  <div class="div-logo-tela-tres" routerLink="">
    <img
      class="logo-tela-tres"
      src="assets/img/logo2.png"
      alt="imagem de paes"
    />
  </div>
  <div class="paragrafo-e-icones-tela-tres">
    <div class="img-tela-tres">
      <img
        class="icon-localizacao-tela-tres"
        src="assets/img/carbon_location-filled-tela-tres.svg"
        alt="icone-localização"
      />
    </div>
    <div class="text-tela-tres">
      <p class="paragrafo-localizacao-tela-tres" (click)="openDialogTelaTres()">
        Escolha um endereço
      </p>
    </div>
    <div class="img-seta-invertida-tela-tres" (click)="openDialogTelaTres()">
      <img
        class="icon-seta-inveritda-tela-tres"
        src="assets/img/eva_arrow-down-fill-atual.svg"
        alt=" icone-seta"
      />
    </div>
  </div>
  <div class="menu-tela-tres">
    <a class="menu-filho-tela-tres" routerLink="home" routerLinkActive="active"
      >Início</a
    >
    <a
      class="menu-filho-tela-tres"
      routerLink="/placeholder"
      routerLinkActive="active"
      >Padarias</a
    >
    <a
      class="menu-filho-tela-tres"
      routerLink="/placeholder"
      routerLinkActive="active"
      >Contato</a
    >
    <a
      class="menu-filho-tela-tres"
      routerLink="/placeholder"
      routerLinkActive="active"
      >Sobre</a
    >
  </div>
</div>
<!---Início do carrossel que ainda faz parte da tela-tres-->
<div class="grupo-botoes-tela-tres">
  <button
    class="button-tela-tres"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-tres">Ordenar</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-tres"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <img src="assets/img/Frame-1.svg" alt="imagem 1" />
    <span class="paragrafo-btns-tela-tres">Pra Retirar</span>
  </button>
  <button
    class="button-tela-tres"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-tres">Entrega grátis</span>
  </button>
  <button
    class="button-tela-tres"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-tres">Entrega parceira</span>
  </button>
  <button
    class="button-tela-tres"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-tres">vale refeição</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-tres"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-tres">Distância</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
</div>

<div class="groupo-icones-img-fixo-tela-tres">
  <div class="item-fixo-tela-tres" routerLink="/pesquisa">
    <img src="assets/img/material-symbols_search.svg" alt="Buscar" />
    <span>Buscar</span>
  </div>
  <div class="item-fixo-tela-tres">
    <img src="assets/img/bi_card-checklist.svg" alt="Pedidos" />
    <span>Pedidos</span>
  </div>
  <div class="item-fixo-tela-tres">
    <img src="assets/img/ic_baseline-contact-phone.svg" alt="Contato" />
    <span>Contatos</span>
  </div>
  <div class="item-fixo-tela-tres" routerLink="app-login">
    <img src="assets/img/gg_profile.svg" alt="Perfil" />
    <span>Perfil</span>
  </div>
</div>
