@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Merriweather&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Merriweather&family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Lobster&family=Merriweather&family=Nunito:wght@200&display=swap');



.container {
  background-color: rgb(247, 247, 247);
  width: 100%;
}
.frase-inicial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px 30px 0;
}
.frase-inicial h1 {
  font-family: 'Nunito', sans-serif;
  // font-family: 'Merriweather', serif;
  // font-family: 'Nunito', sans-serif;
  font-size: xx-large;
  font-weight: 700;
}
.frase-inicial h5 {
  font-size: 15px;
}
.produtos {
  display: flex;
  justify-content: center;
  margin: 20px 30px 0 0px;
}
.produto1{
  height: 150px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #e42e2d;
  margin: 10px;
  transition: width 0.5s, height 0.5s, transform 1s;
}
.produto1:hover {
  width: 305px;
  height: 155px;
  rotate: 180deg;
}
.produto2{
  height: 150px;
  width: 300px;
  border: 1px solid grey;
  border-radius: 8px;
  background-color: #b6d04a;
  margin: 10px;
  transition: width 0.5s, height 0.5s, transform 1s;
}
.produto2:hover {
  width: 305px;
  height: 155px;
  rotate: 180deg;
}
/*input de pesquisar*/
.pai-input-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;

}
.input-btn {

}

.p-input-icon-left > .p-inputtext {
 width: 500px;


}
.p-button.p-button-danger {
  font-size: 0.875rem;
  padding: 0.65625rem 1.09375rem;
}
.primeiro-grupo-card {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-top: 30px;
  border: none;
  flex-wrap: nowrap;
}
.card img{
   width: 100px;
   height: 100px;

   border: none;
   gap: 8px;
   border-radius: 100%;
   transition: width 1s, height 1s, transform 0.5s;
}
.card img:hover {
  width: 106px;
}

.nomes-produtos .card{
  align-items: center;
  justify-content: center;
}
.nomes-produtos {
  background-color: rgb(248, 245, 245);
  border: none;
}
