
<div class="container">
  <section class="primeiro-grupo-card">
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/sorvetes.avif" alt="">
        <h5 class="m-1">Sorvetes e picoles</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/composicaoqueijo.jpg" alt="">
        <h5 class="m-1">Queijos e presunto</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/bebidas.avif" alt="">
        <h5 class="m-1">Bebidas e sucos</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/baseadoleite.jpg" alt="">
        <h5 class="m-1">Laticínios</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/docesebolos.avif" alt="">
        <h5 class="m-1">Bolos e doces</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/Mercados.avif" alt="">
        <h5 class="m-1">Mercado</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/pao.jpg" alt="">
        <h5 class="m-1">Pães</h5>
      </div>
    </div>
    <div class="nomes-produtos">
      <div class="card">
        <img src="assets/img/sobremesas.jpg" alt="">
        <h5 class="m-1">Sobremesas</h5>
      </div>
    </div>

  </section>
  <div class="frase-inicial">
    <h1>Tudo para facilitar o seu dia a dia.</h1>
    <!--<h5>O que você precisa está aqui, peça e receba onde estiver.</h5>-->
  </div>
  <div class="pai-input-btn">
    <div class="input-btn">
      <span class="p-input-icon-left">
        <i class="pi pi-map-marker"></i>
        <input type="text" class="p-inputtext-sm h-8 m-2 teste" pInputText [(ngModel)]="value"
          placeholder="Endereço de entrega e número" />
      </span>
      <!-- <button mat-button color="warn">Buscar</button> -->
      <p-button class="btn-pesquisa" label="Buscar" styleClass="p-button-danger p-button-sm h-8 m-2"></p-button>
    </div>
  </div>
  <div class="produtos">
    <div class="card-segunda-parte" *ngFor="let divIndex of gerarArrayDivs()">
      <img src="assets/img/padaria.png" alt="">
      <h5 class="m-1">padaria do joão</h5>
    </div>
  </div>
</div>
<div class="btns">
  <ul>
    <li>
      <button mat-fab extended color="disabled" (click)="openDialog()">
        Ordenar
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab extended color="disabled" routerLink="../pra-retirar">
        Pra retirar
        <mat-icon>transfer_within_a_station</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab extended color="disabled" routerLink="../entrega-gratis">
        Entrega grátis
      </button>
    </li>
    <li>
      <button mat-fab extended color="disabled" (click)="openDialogfromPagamento()">
        Vale-refeição
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab extended color="disabled" (click)="openDialogDistancia()">
        Distância
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </li>
    <li>
      <button mat-fab extended color="disabled" routerLink="../entrega-parceira">
        Entrega Parceira
      </button>
    </li>
    <li>
      <button mat-fab extended color="disabled">
        <mat-icon>sort</mat-icon>
        Filtros
      </button>
    </li>
    <li>
      <button mat-fab extended color="warn">
        Limpar
      </button>
    </li>
  </ul>
</div>

