<div class="max-w-md bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl" *ngFor="let produto of produtos" style="margin-left: 10px; margin-bottom: 10px;flex-direction: row;
  display: inline-flex;">
  <div class="md:flex">
    <div class="md:shrink-0">
      <img class="h-48 w-full object-cover md:h-full md:w-48" src="/assets/img/logo5.svg"
        alt="Modern building architecture">
    </div>
    <div class="p-8">
      <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">{{produto.item}}</div>
      <a href="#"
        class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{produto.descricao}}</a>
    </div>
  </div>
</div>


<p-button (click)="showDialog()" label="Sou cadastrado"></p-button>
<p-dialog header="Header" [(visible)]="displaydialog" [style]="{width: '50vw'}">
  <div>
    <button>Continuar com celular</button>
    <button>Continuar com seu e-mail</button>
  </div>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displaydialog=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
<!-- <div class="form">
  <form [formGroup]="FormGroup">
    <span class="p-input-icon-left mb-2">
      <i class="pi pi-search"></i>
      <input formControlName="email" type="text" pInputText placeholder="Email">
    </span>
    <div style="width: 100%;">
      <mat-divider>
      </mat-divider>
    </div>
    <span class="p-input-icon-left mt-2">
      <i class="pi pi-search"></i>
      <input formControlName="senha" type="text" pInputText placeholder="Senha" required>
    </span>
  </form>
  <div>
    <button [disabled]="FormGroup.invalid" pButton type="button" label="Enviar" class="p-button-success"></button>
  </div>
</div> -->
