<mat-icon [mat-dialog-close]>keyboard_arrow_left</mat-icon>
<div class="h2">
  <h2 matDialogTitle>Informe o número do seu celular para continuar</h2>
</div>
  <div class="example-form">
    <form class="example-form">
      <mat-form-field class="example-full-width" appearance="outline">

        <span matPrefix></span>

        <input type="tel" matInput placeholder="  Informe o seu número de celular">
      </mat-form-field>
    </form>
  </div>
  <div class="codigo">
    <h5>Como deseja receber seu código?</h5>
  </div>
  <div class="btn">
    <button mat-raised-button color="warn" (click)="codigoVerificadorDialog()" [mat-dialog-close]>WhatsApp</button>
  </div>


