<mat-icon [mat-dialog-close]>keyboard_arrow_left</mat-icon>
<div class="h2">
  <h2 matDialogTitle>{{ frase }}</h2>
</div>
  <div class="example-form">
    <form class="example-form" #formNumero="ngForm" (ngSubmit)="codigo()">
      <mat-form-field class="example-full-width" appearance="outline">
        <span matPrefix></span>
        <input type="tel" name="number" matInput value="" mask="(00) 00000-0000" placeholder="(00) 00000-0000"
         [(ngModel)]="codigo1" #numeroCelular="ngModel" required minlength="3">
         <mat-hint *ngIf="numeroCelular.invalid && (numeroCelular.touched || numeroCelular.dirty)">
          Campo obrigatório
        </mat-hint>
      </mat-form-field>
    </form>

  </div>
  <div class="codigo">
    <h5>Enviaremos um código para o seu watsapp</h5>
  </div>
  <div class="btn">
    <button mat-raised-button color="warn" (click)="codigoVerificadorDialog()"
    [disabled]="!formNumero.valid">WhatsApp</button>
  </div>


