<div class="redes-sociais">
    <span class="espaco-entre-icones">
      <i class="pi pi-facebook" style="color: slateblue"
      ></i>
    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-twitter" style="color: rgb(65,151,208)"></i>
    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-whatsapp" style="color: rgb(69,193,83)"></i>
    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-youtube" style="color: rgb(229,34,33)"></i>
    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-instagram" style="color: rgb(190,56,143)"></i>
    </span>
  </div>
