<div class="container">
  <div class="row">
    <div class="row screen-container">
      <div class="col-md-6 conteudo-login p-0">
        <img class="img" src="assets/img/logo3.jpg" alt="logo">
      </div>
      <div class="col-md-6 p-0">
        <div class="conteudo-form" (click)="submit()">
          <span class="w-75">
            <input type="Email" pInputText [(ngModel)]="value" placeholder="Email" class="p-inputtext-sm w-100">
          </span>
          <span class="w-75 m-3">
            <input type="password" pInputText [(ngModel)]="value" placeholder="Senha" class="p-inputtext-sm w-100">
            <p class="m-1">Esqueceu a Senha?</p>
          </span>
          <div>
            <button pButton type="submit" label="Entrar" class="p-button-success m-4"></button>
          </div>
          <div>
            <p class="m-3" style="font-weight: bold;">Entre com</p>
          </div>
          <div class="row-md-3">

            <p class=" pi pi-google m-2"> </p>
            <i class="pi pi-apple m-2"></i>
            <i class="pi pi-facebook m-2"></i>
            <i class="pi pi-phone m-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
