<div class="container">
  <div class="row">
    <div class="d-flex col-md-12" style="flex-direction: row; grid-template-rows: unset;">
      <div class="col-md-6 image">
        <img style="width: 100% !important; max-height: 100vh;"
          src="https://images.rappi.com/cms-web/images/sign-in_3f701ac0c6.png" alt="imagem de fundo">
      </div>
      <div class="col-md-6 ">
        <div class="col-12">
          <span class="titulo" style="font-size: 2rem; font-weight: 400; color: black;">
            Falta pouco para matar sua fome!
          </span>
        </div>
        <div class="row botoes" style="gap: 15px;">
          <div class="col-md-12">
            <button pButton type="submit" label="Continuar com Facebook" class="p-button-info">
              <i class="pi pi-facebook"></i>
            </button>
          </div>
          <div class="col-md-12">
            <button style="width: 50%" pButton type="submit" label="Continuar com Google"
              class="p-button-success cor-red"><i class="pi pi-google"> </i></button>
          </div>
          <div class="row">
            <div class="col-md-12 mb-4 mt-3">
              <mat-divider class="w-50"></mat-divider>
            </div>
          </div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <button style="width: 25%" pButton type="submit" label="celular"
                  class="p-button-success cor-red mr-2"><i class="pi pi-google">
                  </i></button>
                <button style="width: 25%" pButton (click)="showDialog()" label="E-mail"></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
