.conteudo-login {
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 5px 5px 05px grey;
}

.conteudo-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 5px 5px 5px grey;
  transition: all 0.5s ease-in-out;
}

.m-1 {
  font-weight: 100;
}

.mensagem-erro {
  font-size: 14px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
.row-md-3 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.img {
  height: 100% !important;
}

@media (min-width: 320px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
}
@media (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
}
@media (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

@media (max-width: 800px) {
  .conteudo-form {
    height: auto;
    padding: 25px;
    border-radius: unset;
    box-shadow: unset;
  }

  .container-context {
    padding: 0px;
  }

  .container {
    display: block;
    max-width: 100%;
  }

  .conteudo-login {
    border-radius: unset;
  }

  .screen-container {
    display: flex;
    padding: 0;
    margin: 0;
  }
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width: 1025px) {
  .conteudo-login {
    height: auto;
  }
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
