h1 {
  display: block;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  padding: auto;
  margin: auto;
}
.conteudo-login {
  border-radius: 10px 0px 0px 10px;
  box-shadow: 0px 5px 5px 05px grey;
}

.conteudo-form {
  border-radius: 0px 10px 10px 0px;
  box-shadow: 0px 5px 5px 5px grey;
  transition: all 0.5s ease-in-out;
}

.mensagem-erro {
  font-size: 14px;
  color: red;
  font-family: Arial, Helvetica, sans-serif;
}
