.mat-icon {
    color: red;
    margin: 8px 0px 25x 3px;
    font-size: 30px;
 }
 .paragrafo {
   display: flex;
     align-items: center;
     justify-content: center;
 }
 .paragrafo p {
   width: 80%;
   text-align: center;
   font-family: helvetica,sans-serif;
   font-size: 1rem;
   margin: 0 0 10px;
   color: #717171;
   margin-bottom: 50px;

 }
 .codigo-nao-recebido {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .codigo-nao-recebido p {
   color: red;
   font-weight: 600;
 
 }
 .example-form {
   display: flex;
 
   align-items: center;
   justify-content: center;
   width: 100%;
 }
 .example-full-width {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 10%;
   margin: 5px;
 }
 .btn{
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-bottom: 15px;
 }
 button {
   width: 95%;
   padding: 30px;
 }
 mat-divider {
   width: 10px;
   border: 1px solid grey;
   margin-bottom: 20px;
 }
 