<div class="voltar" routerLink="/login">
  <i class="pi pi-arrow-left m-2"></i> Retornar
</div>
<div class="container">
  <div class="dncelular"><h1>Digite o número do seu celular</h1> </div>
  <p class="p-1">Nós lhe enviaremos um código para confirmar</p>
  <div class="input">
    <div class="input-telefone">
      <p-inputMask class="input-telefone" mask="(99) 99999-9999" [(ngModel)]="val4"
        placeholder="Número de telefone"></p-inputMask>
    </div>
  </div>
  <!--botão que vai ficar oculto até acontecer o primeiro caractere digitado-->
  <div class="button">
    <button pButton type="button" label="Receber código por SMS" icon="pi pi-envelope" class="p-button-text"></button>
    <button pButton type="button" label="Receber código por Whatsapp" icon="pi pi-whatsapp" class="p-button-text"></button>
  </div>
</div>
