.voltar {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  position: relative;
  font-family: sans-serif;
  font-weight: 100;
  width: 100%;
  margin: 10px 0 0 0px;
  cursor: pointer;
}
.container-btn-celular {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: relative;
  margin-left: 50%;
  width: 100%;
}

.btn-pesquisar-cadastro-celular {
  border: none;
  background-color: rgb(226, 243, 201);
}
.input-numero-celular {
  width: 500px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
}
.dncelular {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 1.42;
  letter-spacing: -0.24px;
  color: var(--chakra-colors-gray-100);
}
.p-1 {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.71;
  margin: 0.5em 0 2em 0;
}
.button {
  display: flex;

  margin-top: 2%;
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.p-button-text {
  display: flex;
  margin: 5px;
  background-color: rgb(177, 240, 177);
  color: rgb(39, 39, 37);
}
.input-telefone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
::p-inputtext {
  width: 100%;
}
.redes-sociais {
 display: flex;
 flex-direction: column;
}
.espaco-ente-icones {

}

/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:280px) {
  .voltar {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    margin: 10px 0 10px 7px;
    cursor: pointer;
  }
  .container-btn-celular {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 96%;
    margin: 15px 0 30px 0px;
  }
  .dncelular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .dncelular h1 {
    width: 100%;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .p-1 {
    width: 100%;
    font-size: 10px;
  }
  .input-numero-celular {
    width: 250px;
    margin-bottom: 15px;
  }
  ::placeholder {
    font-size: 15px;
    font-family: sans-serif;
  }
  .btn-sms-watsapp {
    margin-bottom: 8px;
  }
  .button {
     display: flex;
     flex-direction: column;
     width: 100%;
   }
   .espaco-ente-icones {
    margin-bottom: 3px;
  }
  .redes-sociais {
    margin-bottom: 5px;
  }
 }


/* smartphones, Android phones, landscape iPhone */
@media (min-width:359px) {
  .voltar {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    margin: 10px 0 15px 7px;
    cursor: pointer;
  }
  .container-btn-celular {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 95%;
    margin: 30px 0 30px 0px;
  }
  .dncelular h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 22px;
  }
  .p-1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
  }
  .input-numero-celular {
    width: 325px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .w-100 {
    width: 100%;
  }
  ::placeholder {
    font-size: 15px;
    font-family: sans-serif;
  }
  .btn-sms-watsapp {
    margin-bottom: 15px;
  }
  .button {
     display: flex;
     flex-direction: column;
     margin-top: 10%;
     width: 100%;
   }
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 460px) {
  .voltar {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    margin: 10px 0 15px 7px;
    cursor: pointer;
  }
  .container-btn-celular {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 96%;
    margin: 30px 0 30px 0px;
  }
  .dncelular h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 26px;
  }
  .p-1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 14px;
  }
  .input-numero-celular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 30px;
  }
  ::placeholder {
    font-size: 15px;
  }
  .btn-sms-watsapp {

    margin-bottom: 15px;
    font-family: sans-serif;
  }
  .button {
      margin-top: 10%;
     width: 100%;
   }
}
/* hi-res laptops and desktops */
@media (min-width:768px) {
  .voltar {
    display: flex;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    margin: 10px 0 0px 6px;
    cursor: pointer;
  }
  .btn-voltar {
    font-size: 18px;
  }

  .container-btn-celular {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 25%;
    margin: 30px 0 0px 6px;
    visibility: hidden;
  }
  .dncelular h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 40px;
  }
  .p-1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 28px;
  }
  .input-numero-celular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:75%;
    margin-bottom: 30px;
  }
  .w-100 {
    width: 75%;
    height: 50px;
  }
  ::placeholder {
    font-size: 18px;
    font-family: sans-serif;
  }
  .btn-sms-watsapp {

    margin-bottom: 12px;
  }
  .button {
    display: flex;
     width: 75%;
     margin-top: 0%;
   }
}

/*  */
@media (min-width:920px) {
  .voltar {
    display: flex;
    position: relative;
    font-family: sans-serif;
    width: 100%;
    margin: 10px 0 0px 3px;
    cursor: pointer;
  }
  .btn-voltar {
    font-size: 18px;
  }

  .container-btn-celular {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    width: 100%;
    margin: 30px 0 0px 3px;
    visibility: hidden;
  }
  .dncelular h1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 30px;
  }
  .p-1 {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 18px;
  }
  .input-numero-celular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:40%;
    margin-bottom: 30px;
  }
  .w-100 {
    width: 25%;
    height: 35px;
  }
  ::placeholder {
    font-size: 14px;
    font-family: sans-serif;
  }
  .btn-sms-watsapp {

    margin-bottom: 12px;
  }
  .button {
    display: flex;
     width: 40%;
     margin-top: 0%;
   }
}
@media (min-width:801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }

