<div class="voltar" >
  <i class="pi pi-arrow-left btn-voltar " routerLink="/login"> Voltar</i>
  <span class=" p-input-icon-left container-btn-celular">
    <i class="pi pi-map-marker  " style="color: rgb(228, 212, 212)"></i>
    <input class="btn-pesquisar-cadastro-Celular w-100" type="text" pInputText [(ngModel)]="value" placeholder="Digite sua localização" />
  </span>
</div>
<div class="container">
  <div class="dncelular"><h1>Digite o número do seu celular</h1> </div>
  <p class="p-1">Nós lhe enviaremos um código para confirmar</p>
  <div class="input">
    <div class="input-telefone">

      <span class="p-input-icon-left input-numero-celular">
        <i class="pi pi-phone"></i>
        <input class="w-100" type="text" pInputText [(ngModel)]="value" placeholder="Digite seu número com DDD" />
    </span>
<!--
       <p-inputMask class="input-telefone" mask="(99) 99999-9999" [(ngModel)]="val4"
        placeholder="Número de telefone"></p-inputMask>
    </div> -->
  </div>
  <!--botão que vai ficar oculto até acontecer o primeiro caractere digitado-->
  <div class="button">
    <button pButton type="button" label="Código por SMS" icon="pi pi-envelope" class="p-button-text btn-sms-watsapp"></button>
    <button pButton type="button" label="Código por Whatsapp" icon="pi pi-whatsapp" class="p-button-text btn-sms-watsapp"></button>
  </div>
  <!-- <div class="redes-sociais">
    <span class="espaco-ente-icones">
      <i class="pi pi-facebook"></i>
    </span>
    <span class="espaco-ente-icones">
      <i class="pi pi-twitter"></i>
    </span>
    <span class="espaco-ente-icones">
      <i class="pi pi-whatsapp"></i>
    </span>
    <span class="espaco-ente-icones">
      <i class="pi pi-youtube"></i>
    </span>
    <span class="espaco-ente-icones">
      <i class="pi pi-instagram"></i>
    </span>
  </div> -->
</div>
