<mat-toolbar class="footer">
  <span>
    Copyright © 2022 Devid Luan. Todos os direitos reservado.
  </span>
  <div class="redes-sociais">
    <span class="espaco-entre-icones">
      <i class="pi pi-facebook" style="color: slateblue"> Facebook</i>

    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-twitter" style="color: #54a7e5"> Twitter</i>

    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-whatsapp" style="color: green"> Whatsapp</i>

    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-youtube" style="color: red"> YouTube</i>

    </span>
    <span class="espaco-entre-icones">
      <i class="pi pi-instagram" style="color: #d42998"> Instagram</i>

    </span>
  </div>
</mat-toolbar>
