<div class="container">
  <div>
    <span class="p-input-icon-left">
      <i class="pi pi-map-marker"></i>
      <input type="text" class="p-inputtext-sm w-100" pInputText [(ngModel)]="value1"
        placeholder="Escreva o endereço de entrega">
    </span>
  </div>
  <!--div do span e dos icons do dialog de localização-->
  <div class="localReal">
    <mat-icon class="adjust">adjust</mat-icon>
    <span class="span-dialog">Centro, Rio de Janeiro - RJ,Brasil</span>
    <mat-icon class="edit">edit</mat-icon>
  </div>
</div>
