.container {
}
.localizacao {
  cursor: pointer;
}
span {
  display: flex;
  position: relative;
}
.inputES {
  width: 400px;
  margin: 0 px;
  line-height: 1.6;
}
.p-float-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
/**/
.localReal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 6rem;
}
.localReal:hover {
  background-color: rgb(245, 245, 236);
}
/* icones e span do dialog de localização*/
.adjust {
  color: rgb(41, 216, 132);
}
.edit {
  color: #a8aeb3;
}
.span-dialog {
  font-family: sans-serif;
  font-weight: bolder;
}
