.localizacao {
  cursor: pointer;
}
.dialogEnd {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dialogEnd p {
  font-weight: 600;
}
.dialogEnd .pi-times {
}
.inputES {
  width: 400px;
  margin: 0 px;
}
.p-float-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
