<mat-icon [mat-dialog-close]>keyboard_arrow_left</mat-icon>
<div class="h2">
  <h2 matDialogTitle>Informe o seu e-mail para continuar</h2>
</div>

<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
           placeholder="Ex. fulano@example.com">
    <mat-hint>Errors appear instantly!</mat-hint>
    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
      Por favor insira um endereço de e-mail válido
    </mat-error>
    <mat-error *ngIf="emailFormControl.hasError('required')">
      Email  <strong>obrigatório</strong>
    </mat-error>
  </mat-form-field>
</form>
<div class="btn">
  <button mat-raised-button color="warn">Continuar</button>
</div>
