<!--Aqui começa a parte da que corresponde as tela 319 e inferiores tela-seis-->
<header class="header-tela-seis">
  <div class="div-logo-tela-seis">
    <img
      class="logo-tela-seis"
      src="assets/img/logo2.png"
      alt="imagem de paes"
    />
  </div>
  <div class="paragrafo-e-icones-tela-seis" (click)="openDialogTelaSeis()">
    <div class="img-tela-seis">
      <img
        class="icon-localizacao-tela-seis"
        src="assets/img/carbon_location-filled-tela-tres.svg"
        alt="icone-localização-tela-seis"
      />
    </div>
    <div class="text-tela-cinco-tela-seis">
      <p class="paragrafo-localizacao-tela-seis">Escolha um endereço</p>
    </div>
    <div class="img-seta-invertida-tela-seis">
      <img
        class="icon-seta-inveritda-tela-seis"
        src="assets/img/eva_arrow-down-fill-atual.svg"
        alt=" icone-seta"
      />
    </div>
  </div>
</header>
<div class="menu-tela-seis">
 <a class="menu-filho-tela-seis" routerLink="home" routerLinkActive="active">Início</a>
 <a class="menu-filho-tela-seis" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
 <a class="menu-filho-tela-seis" routerLink="/placeholder" routerLinkActive="active">Contato</a>
 <a class="menu-filho-tela-seis" routerLink="/placeholder" routerLinkActive="active">Sobre</a>
</div>
<!---Início do carrossel da tela cinco 319px ou inferiores-->
<div class="grupo-botoes-tela-seis">
  <button
    class="button-tela-seis"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-tela-seis">Ordenar</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-seis"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <img src="assets/img/Frame-1.svg" alt="imagem 1" />
    <span class="paragrafo-btns-tela-seis">Pra Retirar</span>
  </button>
  <button
    class="button-tela-seis"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-seis">Entrega grátis</span>
  </button>
  <button
    class="button-tela-seis"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-seis">Entrega parceira</span>
  </button>
  <button
    class="button-tela-seis"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-seis">vale refeição</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-seis"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-seis">Distância</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
</div>

<div class="groupo-icones-img-fixo-tela-seis">
  <div class="item-fixo-tela-seis">
    <img src="assets/img/material-symbols_search.svg" alt="Buscar" />
    <span>Buscar</span>
  </div>
  <div class="item-fixo-tela-seis">
    <img src="assets/img/bi_card-checklist.svg" alt="Pedidos" />
    <span>Pedidos</span>
  </div>
  <div class="item-fixo-tela-seis">
    <img src="assets/img/ic_baseline-contact-phone.svg" alt="Contato" />
    <span>Contatos</span>
  </div>
  <div class="item-fixo-tela-seis" routerLink="app-login">
    <img src="assets/img/gg_profile.svg" alt="Perfil" />
    <span>Perfil</span>
  </div>
</div>
