<div class="container">
  <div class="div-pai-img-form">
    <!--setas no canto superior esquerdo-->
    <h2 class="setas-voltar" routerLink="/app-login">
      <img
        src="assets/img/login/fe_arrow-left.svg"
        alt="imagem de uma seta para esquerda"
      />
    </h2>
    <!--Parte da elipse-->
    <div class="img">
      <img
        class="logo-sobreposta"
        src="assets/img/logo2-login.png"
        alt="logo da tela de login"
      />
    </div>
    <!--Início do furmulário-->
    <form class="container-formulario" [formGroup]="emailForm">
      <div class="titulo">
        <h1>Informe seu e-mail para continuar</h1>
      </div>
      <mat-form-field appearance="outline" class="input-informar-email">
        <mat-label class="label"> Informe o seu e-mail </mat-label>
        <input
          matInput
          type="text"
          name="email"
          placeholder=""
          formControlName="emailFormControl"
          [ngClass]="{
            erro: emailFormControl.invalid && emailFormControl.touched
          }"
          [style.color]="emailFormControl.invalid && emailFormControl.touched"
          (focus)="updateFocusState(true)"
          (blur)="updateFocusState(false)"
        />
        <mat-error
          *ngIf="
            emailFormControl.hasError('required') && emailFormControl.touched
          "
        >
          E-mail inválido
        </mat-error>
        <mat-error
          *ngIf="emailFormControl.hasError('email') && emailFormControl.invalid"
          class="error-email"
        >
          e-mail incompleto
        </mat-error>
        <span class="texto-acima-do-botao-continuar">
          <p>
            O Delivery-Padaria poderá enviar comunicações neste e-mail. Caso não
            queira receber comunicações nesse canal, é só acessar a opção
            “Configurações” no aplicativo ou se desinscrever na sua caixa de
            e-mail.
          </p>
        </span>
      </mat-form-field>
      <div class="btn-continuar">
        <button
          (click)="submitForm()"
          routerLink="/codigo-email"
          [disabled]="!emailForm.valid"
        >
          Continuar
        </button>
      </div>
      <div class="borda"></div>
    </form>
  </div>
</div>
