<div class="titulo-close">
  <h1 mat-dialog-title>Ordenar por</h1>
  <mat-icon (click)="closeDialog()" class="icone-fechar" align="end">close</mat-icon>
</div>
<div class="conteudo">
  <button class="dois-elementos">
    <div class="ordenacao-padrao ml-3">
      <div class="circulo ">
        <mat-icon>swap_vert</mat-icon>
      </div>
      <p class="">Ordenação <br> Padrão</p>
    </div>
  </button>
  <button class="dois-elementos">
      <div class="ordenacao-padrao ml-3">
      <div class="circulo">
        <mat-icon>currency_exchange</mat-icon>
      </div>
      <p class="">Preço</p>
    </div>
  </button>
  <button class="dois-elementos">
    <div class="ordenacao-padrao ml-3">
      <div class="circulo">
        <mat-icon>star_rate</mat-icon>
      </div>
      <p class="">Avaliação</p>
    </div>
  </button>
  <button class="dois-elementos">
    <div class="ordenacao-padrao ml-3">
      <div class="circulo">
        <mat-icon>alarm_on</mat-icon>
      </div>
      <p class="">Tempo de <br> entrega</p>
    </div>
  </button>
  <button class="dois-elementos">
    <div class="ordenacao-padrao ml-3">
      <div class="circulo">
        <mat-icon>location_on</mat-icon>
      </div>
      <p class="">Menor <br> Distãncia</p>
    </div>
  </button>

  <button class="dois-elementos">
    <div class="ordenacao-padrao ml-3">
      <div class="circulo">
        <mat-icon>directions_bike</mat-icon>
      </div>
      <p class="">Taxa de <br> Entrega</p>
    </div>
  </button>

</div>
