.titulo-close {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.icone-fechar {
  cursor: pointer;
}
.conteudo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.ordenacao-padrao{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-wrap: nowrap;
}
.dois-elementos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 30%;
}
.ordenacao-padrao p {
  font-size: .75rem;
  line-height: .875rem;
}
.circulo {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 100%;
  width: 60px;
  height: 60px;
}
.circulo:hover {
  border: none;
  background-color: rgb(247, 223, 223);
}

.ordenacao-padrao:hover {
  color: rgb(238, 106, 106);

}
mat-divider {
  border: 1px solid grey;
}


