body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: white;
}

.menu {
  display: flex;
  flex-direction: row;
  float: left;
  color: black;
}
mat-toolbar-row {
  gap: 10px;
}

.mat-form-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  float: left;
  height: 5rem;
  width: 10rem;
  align-items: flex-start;
  margin-bottom: 1rem;

  color: black;
  cursor: pointer;
}

.logo-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-icons {
  float: left;
  color: black;
  cursor: pointer;
}

.iconEntrar {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 0.5rem;
  cursor: pointer;
}
.entrar {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: black;
  padding-right: 1.6rem;
  height: 35px;
  border-right: 1px solid black;
  font-family: sans-serif;
  font-size: 0.7em;
}

.location_on {
  display: flex;
  align-items: center;
  float: left;
  padding-left: 1rem;
  padding-bottom: 0px;
  margin-bottom: 1px;
  color: black;
  cursor: pointer;
  height: 35px;
  border-left: 1px solid black;
}
.seta {
  color: black;
  cursor: pointer;
}
.localizacao {
  display: flex;
  align-items: center;
  pad: 5px;
  
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  margin: 0.3rem;
}

.example-form-field {
  display: flex;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  border: 3px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  height: 48px;
}

::ng-deep .mat-form-field-wrapper {
  margin-bottom: -1.25em;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}

:host ::ng-deep .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 0;
}
.w-100 {
  width: 100% !important;
  height: 40px;
}
