<!---Aqui começa a parte que vai representar as telas de 1200px pra cima-->
<header class="header">
  <div class="div-logo">
    <img class="log" src="assets/img/refatorando/logo-header.png" alt="imagem de paes">
  </div>
  <div class="paragrafo-e-icones" (click)="openDialog()">
    <img class="icon-localizacao" src="assets/img/refatorando/carbon_location-filled-atual.svg" alt="icone-localização">
    <p class="p-localizacao">Rio de Janeiro</p>
    <img class="icon-seta" src="assets/img/refatorando/eva_arrow-down-fill-atual.svg" alt=" icone-seta">
  </div>
  <div class="borda-vertical">
    <img src="assets/img/refatorando/Vector2.svg" alt="">
  </div>
  <div class="div-menu">
    <a class="div-menu-filho" routerLink="home" routerLinkActive="active">Início</a>
    <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
    <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Contato</a>
    <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Sobre</a>
  </div>
  <form class="input-wrapper">
    <input type="text" name="search" placeholder="Buscar por itens e outros">
    <img src="assets/img/refatorando/mi_search.svg" alt="Ícone" class="icon">
  </form>
  <div class="icone-carrinho">
    <button class="btn">Entrar</button>
    <img src="assets/img/refatorando/mdi_cart.svg" alt="">
  </div>
</header>
<!---Início do carrossel da tela um-->
<div class="grupo-botoes-tela-um">
  <button class="button-tela-um" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-um" (click)="openDialogOrdenar()">Ordenar</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
  <button class="button-tela-um" routerLink="/placeholder" routerLinkActive="active">
    <img src="assets/img/refatorando/Frame-1.svg" alt="imagem 1">
    <span class="paragrafo-btn-tela-um">Pra Retirar</span>
  </button>
  <button class="button-tela-um" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-um">Entrega grátis</span>
  </button>
  <button class="button-tela-um" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-um">Entrega parceira</span>
  </button>
  <button class="button-tela-um" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-um" (click)="openDialogfromPagamento()">vale refeição</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
  <button class="button-tela-um" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-um" (click)="openDialogDistancia()">Distância</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
</div>

<!--Aqui começa a parte da que corresponde as telas de 1025 a 1200-->
<header class="header-tela-dois">
  <div class="div-logo-tela-dois">
    <img class="log" src="assets/img/refatorando/logo-header.png" alt="imagem de paes">
  </div>

  <div class="div-menu-tela-dois">
    <a class="div-menu-filho-tela-dois" routerLink="home" routerLinkActive="active">Início
      <img class="icon-seta-invertida-tela-dois" src="assets/img/refatorando/Group.svg" alt="">
    </a>
    <!-- <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
    <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Contato</a>
    <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Sobre</a> -->
  </div>
  <form class="input-wrapper-tela-dois">
    <input type="text" name="search" placeholder="Buscar por itens e outros">
    <img src="assets/img/refatorando/mi_search.svg" alt="Ícone" class="icon-search-tela-dois">
  </form>
  <div class="paragrafo-e-icones-tela-dois" (click)="openDialog()">
    <img class="icon-localizacao-tela-dois" src="assets/img/refatorando/carbon_location-filled-atual.svg" alt="icone-localização">
    <p class="p-localizacao-tela-dois">Rio de Janeiro</p>
    <img class="icon-seta-inveritda" src="assets/img/refatorando/eva_arrow-down-fill-atual.svg" alt=" icone-seta">
  </div>
  <div class="borda-vertical-tela-dois">
    <img src="assets/img/refatorando/Vector2.svg" alt="">
  </div>
  <div class="icone-carrinho-tela-dois">
    <button class="btn-tela-dois">Entrar</button>
    <img src="assets/img/refatorando/mdi_cart.svg" alt="icone seta">
  </div>
</header>
<!---Início do carrossel da tela dois-->
<div class="grupo-botoes-tela-dois">
  <button class="button-tela-dois" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-dois" (click)="openDialogOrdenar()">Ordenar</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
  <button class="button-tela-dois" routerLink="/placeholder" routerLinkActive="active">
    <img src="assets/img/refatorando/Frame-1.svg" alt="imagem 1">
    <span class="paragrafo-btns-tela-dois">Pra Retirar</span>
  </button>
  <button class="button-tela-dois" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-dois">Entrega grátis</span>
  </button>
  <button class="button-tela-dois" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-dois">Entrega parceira</span>
  </button>
  <button class="button-tela-dois" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-dois" (click)="openDialogfromPagamento()">vale refeição</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
  <button class="button-tela-dois" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns-tela-dois" (click)="openDialogDistancia()">Distância</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
</div>

<!--Aqui começa a parte da que corresponde as telas de 769 a 1024-->
<header class="header-tela-tres">
  <div class="div-logo-tela-tres">
    <img class="logo2-tela-tres" src="assets/img/refatorando/logo2.png" alt="imagem de paes">
  </div>
  <div class="paragrafo-e-icones-tela-tres" (click)="openDialog()">
    <div class="img-tela-tres">
      <img class="icon-localizacao-tela-tres" src="assets/img/refatorando/carbon_location-filled-tela-tres.svg"
        alt="icone-localização">
    </div>
    <div class="text-tela-tres">
      <p class="paragrafo-localizacao-tela-tres">Escolha um endereço</p>
    </div>
    <div class="img-seta-invertida-tela-tres">
      <img class="icon-seta-inveritda" src="assets/img/refatorando/eva_arrow-down-fill-atual.svg" alt=" icone-seta">
    </div>
  </div>
</header>
<div class="menu-tela-tres">
  <a class="menu-filho-tela-tres" routerLink="home" routerLinkActive="active">Início</a>
  <a class="menu-filho-tela-tres" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
  <a class="menu-filho-tela-tres" routerLink="/placeholder" routerLinkActive="active">Contato</a>
  <a class="menu-filho-tela-tres" routerLink="/placeholder" routerLinkActive="active">Sobre</a>
</div>
<!---Início do carrossel-->
<div class="grupo-botoes">
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns" (click)="openDialogOrdenar()">Ordenar</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <img src="assets/img/refatorando/Frame-1.svg" alt="imagem 1">
    <span class="paragrafo-btns">Pra Retirar</span>
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">Entrega grátis</span>
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">Entrega parceira</span>
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns" (click)="openDialogfromPagamento()">vale refeição</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns" (click)="openDialogDistancia()">Distância</span>
    <img src="assets/img/refatorando/Frame.svg" alt="imagem 1">
  </button>
</div>

<div class="groupo-icones-img-fixo">
  <div class="item-fixo-tela-tres">
    <img src="assets/img/refatorando/material-symbols_search.svg" alt="Buscar">
    <span>Buscar</span>
  </div>
  <div class="item-fixo-tela-tres">
    <img src="assets/img/refatorando/bi_card-checklist.svg" alt="Pedidos">
    <span>Pedidos</span>
  </div>
  <div class="item-fixo-tela-tres">
    <img src="assets/img/refatorando/ic_baseline-contact-phone.svg" alt="Contato">
    <span>Contatos</span>
  </div>
  <div class="item-fixo-tela-tres">
    <img src="assets/img/refatorando/gg_profile.svg" alt="Perfil">
    <span>Perfil</span>
  </div>
</div>





















<!--<div class="div-menu-tela-tres">
  <a class="div-menu-filho-tela-tres" routerLink="home" routerLinkActive="active">Início
    <img class="icon-seta-invertida-tela-tres" src="assets/img/Group.svg" alt="">
  </a>
   <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
  <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Contato</a>
  <a class="div-menu-filho" routerLink="/placeholder" routerLinkActive="active">Sobre</a>
</div>
<form class="input-wrapper-tela-tres">
  <input type="text" name="search" placeholder="Buscar por itens e outros">
  <img src="assets/img/mi_search.svg" alt="Ícone" class="icon-search-tela-tres">
</form>

<div class="borda-vertical-tela-tres">
  <img src="assets/img/Vector2.svg" alt="">
</div>
<div class="icone-carrinho-tela-tres">
  <button class="btn-tela-tres">Entrar</button>
  <img src="assets/img/mdi_cart.svg" alt="icone seta">
</div>-->








<!-- <mat-toolbar class="header mat-elevation-z1">

  <mat-toolbar-row>
    <div>
      <mat-icon class="menu" mat-raised-button (click)="drawer.toggle()" style="cursor: pointer">
        menu
      </mat-icon>
    </div>
    <div class="logo-c">
      <img class="logo" src="assets/img/logo2.png" alt="logo" routerLink="pagina-principal">
    </div>
    <div class="location_on" fxShow fxHide.xs fxHide.sm style="margin-right: 10px;">
      <mat-icon style="color: #D57512; font-size: 1.5rem;">
         location_on
        </mat-icon>
      <span  icon="pi pi-arrow-down"
        style="font-size: 0.8rem; color: black; text-decoration-line: underline; font-weight: 500;" (click)="openDialog()">
        Digite sua localização </span>
      <mat-icon class="seta">arrow_drop_down</mat-icon>
    </div>
    <div class="flex-auto mat-form-class">
      <span class="p-input-icon-left w-100">
        <i class="pi pi-search"></i>
        <input type="text" pInputText [(ngModel)]="value" placeholder="Buscar por itens e outros" class="p-inputtext-sm w-100">
      </span>
    </div>
    <div fxShow fxHide.xs fxHide.sm class="flex items-center" routerLink="/login">
      <mat-icon class="iconEntrar"><i class="pi pi-user"></i></mat-icon>
      <button class="entrar">Entrar</button>
    </div>
    <mat-icon fxShow fxHide.xs fxHide.sm (click)="drawerCarrinho.toggle()">add_shopping_cart</mat-icon>
    <button mat-icon-button [matMenuTriggerFor]="dropMenu" fxHide fxShow.xs fxShow.sm>
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-menu #dropMenu="matMenu">
    <button mat-menu-item (click)="drawerCarrinho.toggle()">
      <mat-icon>add_shopping_cart</mat-icon>
      <a>Carrinho</a>
    </button>
    <button mat-menu-item>
      <mat-icon class="iconEntrar" routerLink="/login">account_circle</mat-icon>
      <a routerLink="/login">Entrar</a>
    </button>
    <mat-divider></mat-divider>
  </mat-menu>
</mat-toolbar>
<p-dialog header="Adicione ou escolha um endereço" [(visible)]="displayPosition"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [position]="position" [modal]="true" [style]="{width: '33vw'}"
  [draggable]="false" [resizable]="false">
  <app-dialog-localizacao></app-dialog-localizacao>
  <ng-template pTemplate="footer">
    <p-button (click)="displayPosition=false" styleClass="p-button-text"></p-button>
    <mat-divider class="w-100 mt-5"></mat-divider>
    <div class="uml-1">
      <i class="pi pi-send mr-2"></i>
      <span class="uml">Usar minha localização</span>
    </div>
  </ng-template>
</p-dialog> -->
