.menu {
  flex-direction: row;
  float: left;
  color: black;
}
mat-toolbar-row {
  gap: 10px;
}

.mat-form-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  float: left;
  height: 300px;
  width: 160px;
  align-items: flex-start;
  margin-left: 0;
  padding-top: 10;
}

.material-icons {
  float: left;
  color: grey;
}

.iconEntrar {
  display: flex;
  align-items: center;
  padding: 0;
  margin-right: 12px;
  color: black;
}

.locarion_on {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: red;
}

.localizacao {
  display: flex;
  align-items: center;
  pad: 5px;
  color: black;
  border-bottom: 1px solid black;
  font-style: italic;
  font-size: 15px;
  font-weight: 300;
  padding: 0;
  margin: 0;
}

.example-form-field {
  display: flex;
  position: relative;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 60px;
  border: 3px;
}

:host ::ng-deep .mat-mdc-form-field {
  height: 49px;
}

:host ::ng-deep .mat-mdc-text-field-wrapper {
  height: 49px;
}
