<div class="container">
  <div class="img">
    <img src="assets/img/logo-header.png" alt="imagem de paes">
  </div>
  <div class="paragrafo-icones-header">
    <img class="icon-localizacao" src="assets/img/carbon_location-filled.svg" alt="icone-localização">
    <p class="p-localizacao">Escoha um endereço</p>
    <img class="icon-seta" src="assets/img/eva_arrow-down-fill.svg" alt=" icone-seta">
  </div>
  <div class="links">
    <p class="links-p">Inicio</p>
    <p class="links-p">Padarias</p>
    <p class="links-p">Contato</p>
    <p class="links-p">Sobre</p>
  </div>
  <div class="input">
    <span class="p-input-icon-right input-place-icon">
      <i class="pi pi-search" style="color: #E49011;" ></i>
      <input type="text pInputText" placeholder="Buscar itens e ouros" class="p-inputtext-lg">
    </span>
  </div>
  <div class="btn">
    <button type="button" name="entrar">Entrar</button>
    <mat-icon>ligature</mat-icon>
  </div>
</div>

