<mat-toolbar class="header mat-elevation-z8">
  <div id="reorder">
    <mat-icon class="menu"
      mat-raised-button

      (click)="drawer.toggle()"
      style="cursor: pointer"
      >menu</mat-icon
    >
    <img class="logo" src="assets/img/logo5.svg" alt="logo" />
    <mat-icon class="locarion_on" style="color: red;">location_on</mat-icon>
     <p class="localizacao">Digite sua localização</p>
  </div>

  <div class="btnPesquisa">

      <mat-form-field class="col-30" appearance="outline">
      <mat-label>Pesquisar</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput type="text" [(ngModel)]="value" />
      <button
        mat-button
        *ngIf="value"
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="value = ''"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

  </div>
  <div id="carrinho">
    <mat-icon class="iconEntrar">account_circle</mat-icon>
    Entrar
    <mat-icon class="compras">add_shopping_cart</mat-icon>
  </div>
</mat-toolbar>
