.delivery_Padaria {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  float: left;
  font-size: larger;
  font-weight: bold;
}
.cesta-compras {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.button-comprar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 3px;
  font-weight: bold;
  background-color: rgb(121, 233, 121);
}
.pi {
  font-family: "primeicons";
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.8rem;
}
.icon-carrinho {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5em;
  margin-bottom: 3em;
  color: red;
}
.span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  font-weight: bold;
  font-size: 0.9em;
}
