<mat-icon [mat-dialog-close]>keyboard_arrow_left</mat-icon>
<div class="paragrafo">
  <p>Digite o código de verificação de 6 digitos que envimos por WhatsApp para o</p>
</div>

<div>
  <form class="example-form" [formGroup]="CodigoVerificador">
    <mat-form-field class="example-full-width" appearance="outline">
      <input #input1 type="text" matInput placeholder="0" formControlName="codigo1" required maxlength="1"
        (input)="mudarFoco(input1, input2)">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input #input2 type="text" matInput placeholder="0" formControlName="codigo2" required maxlength="1"
        (input)="mudarFoco(input2, input3)">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input #input3 type="text" matInput placeholder="0" formControlName="codigo3" required maxlength="1"
        (input)="mudarFoco(input3, input4)">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input #input4 type="text" matInput placeholder="0" formControlName="codigo4" required maxlength="1"
        (input)="mudarFoco(input4, input5)">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input #input5 type="text" matInput placeholder="0" formControlName="codigo5" required maxlength="1"
        (input)="mudarFoco(input5, input6)">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="outline">
      <input #input6 type="text" matInput placeholder="0" formControlName="codigo6" required maxlength="1">
    </mat-form-field>

  </form>
  <div class="btn">
    <button 
    mat-raised-button color="warn" 
    [disabled]="!CodigoVerificador.valid" 
    (click)= "openSnackBar()"
    [mat-dialog-close]
    routerLink="pagina-principal">
     Continuar
    </button>
  </div>
</div>
<div class="codigo-nao-recebido">
  <p class="reevia-codigo" >Não recebi o meu código</p>
</div>
