<div class="container">
  <div class="div-pai-img-form ">
    <!--setas no canto superior esquerdo-->
    <h2 routerLink="/app-login">
      <span class="setas-voltar">&lt;&lt;</span>
    </h2>
    <!--Parte da elipse-->
    <div class="img">
      <img class="logo-sobreposta" src="assets/img/logo2-login.png" alt="logo da tela de login">
    </div>
    <!--Início do furmulário-->
    <div class="container-formulario">
      <div class="titulo">
        <h1>Informe  seu e-mail para continuar</h1>
      </div>
      <div class="input-informar-email">
        <div class="lado-esquerdo-do-input">
          <div class="codigo-postal-e-bandeira-do-brasil">
            <img class="icone-bandeira-do-brasil" src="assets/img/login/brasil.png" alt="bandeira do brasil">
            <p class="codigo-postal">+55</p>
          </div>
          <input type="text" placeholder="Informe o seu e-mail">
        </div>
        <span class="texto-acima-do-botao-whatsApp">
          <p>
            Como deseja receber seu código?
          </p>
        </span>
      </div>
      <div class="btn-whatsApp">
        <button>
            WhatsApp
        </button>
      </div>
    </div>
  </div>
</div>
