
/* Estilos para telas de 1025px a 1200px tela dois*/
@media (min-width: 1025px) and (max-width: 1200px) {
  /*Estilização da tag superior header*/
  .header-tela-dois {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.44219rem;
    flex-shrink: 0;
    box-shadow: 0px 4px 4px 0px rgba(228, 144, 17, 0.1);
    background: #fff;
  }

  //Estilização da div que contém a logo
  .div-logo-tela-dois {
    display: flex;
    position: relative;

    width: 5.3375rem;
    height: 3.80756rem;
    margin: 0;
    padding: 0;
  }

  //Estilização da logo principal na parte superior esquerda da tela
  .logo-tela-dois {
    flex-shrink: 1;
    width: 5.3375rem;
    height: 3.80756rem;
    background: lightgray -30.652px -8.351px / 185.67% 126.805% no-repeat;
  }
  .mat-menu-tigger-for-tela-dois {
    display: flex;
    gap: 0.2rem;
    color: #e49011;
    font-size: 1.17075rem;
    font-family: Poppins;
    position: relative;

  }
  .borda-abaixo {
    width: 110px;
    border-bottom: 2px solid #e49011;
    box-shadow: 0px 4px 4px 0px #e49011;
    position: relative;
    bottom: 0;
    top: 0.2rem;
  }

  //Estilização da img seta invertida junto com o menu ao lado da logo
  .icon-seta-invertida-tela-dois {
    width: 0.80956rem;
    height: 0.84513rem;
    flex-shrink: 0;
    background: #fff;
    position: relative;
    bottom: 0rem;
    transform: rotate(0deg); /* Definimos a rotação inicial */
    transition: transform 0.3s; /* Adicionamos uma transição suave */
  }
  //invertendo a seta para indicar que o menu está aberto
  .icon-seta-invertida-tela-dois:hover {
    transform: rotate(-180deg);
  }
  //Div pai que contém a div com os menus filhos
  .div-menu-tela-dois {
    display: flex;
    align-items: center;

    position: relative;
    left: 0rem;
    top: 0.1rem;

  }
  //Estilização da div que contem os menus filho
  .div-menu-filho-tela-dois {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7.12919rem;
    height: 2.51775rem;
    overflow: hidden;
    position: relative;
    left: 0;
    flex-shrink: 0;
    text-decoration: none;
    color: #1c1c1b;
    text-shadow: 0px 4.682926654815674px 4.682926654815674px 0px
      rgba(0, 0, 0, 0.25);
    font-size: 1.17075rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  // Estilização do paragrafo e dos icones div pai e div filho
  .paragrafo-e-icones-tela-dois {
    display: flex;
    align-items: center;
    padding-right: 0px;
    gap: 0.25rem;
    position: relative;
    right: 0.5rem;
    top: 12%;
    cursor: pointer;
  }
  //Estilização do parágrafo p dentro da div que conttem o parágrago e os icones
  .paragrafo-e-icones-tela-dois p {
    display: flex;
    color: #e3b34d;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    flex-shrink: 1;
  }

  /* mat-menu-custom.scss */
.matMenu {
  position: relative;
}

.matMenu::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

  //icon de localização ao lado da tela dois
  .icon-localizacao-tela-dois {
    flex-shrink: 1;
    color: #fc7310;
    margin: 0% 0% 7% 0%;
  }
  //Seta ao lado do parágrafo tela-dois
  .icon-seta-inveritda-paragrafo-tela-dois {
    display: flex;
    position: relative;
    bottom: 0.5rem;
  }
  //Estilização do parágrafo de localização da tela dois
  .p-localizacao-tela-dois {
    color: #e3b34d;
    font-size: 1rem;
    font-family: proppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  // Borda vertical ao lado do menu
  .borda-vertical-tela-dois {
    width: 0px;
    height: 1.875rem;
    flex-shrink: 0;
    position: relative;
    right: 0.5rem;
    opacity: 0.9;
    color: #000000;
  }
  //Estilização do input
  .input-wrapper-tela-dois {
    display: flex;
    display: inline-flex;
    align-items: center;
    display: inline-flex;
    padding: 0.20619rem 0.60438rem 0.33538rem 1.16925rem;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0.99763rem;
    border: 1.306px solid #717171;
    position: relative;
    top: 6%;
  }
  .input-tela-dois {
    display: flex;
    border: none;
    outline: none;
    width: 21.66667rem;
  }
  .input-wrapper-tela-dois:focus-within{
    border: 1px solid  #e49011;
  }

  //dimensões do card / filter lista input
  .seach-filter-lista-tela-dois{
    position: absolute;
    top: 110%;
    right: 11%;
    width: 21.66667rem ;
    height: 6.25rem;
    flex-shrink: 0;
    background-color: white;
    box-shadow: 4px 5px 4px 4px rgba(228, 144, 17, 0.10);
    z-index: 999;
  }

  .seach-filter-lista-tela-dois h3 {
    color: #000;
    font-family: 'Poppins';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }
  .seach-filter-lista-tela-dois hr {
    width:  21.66667rem;
    height: 0rem;
    flex-shrink: 0;
    stroke-width: 1px;
    color: rgba(113, 113, 113, 0.41);
    position: relative;
    bottom: 16%;
  }
  .suggestions-tela-dois {
    list-style: none;
    color: #717171;
    font-family: 'Poppins';
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    right: 11.5%;
    bottom: 1.4rem;
   }

  .suggestions-tela-dois img {
    width: 0.74856rem;
    height: 0.54544rem;
    flex-shrink: 0;
    
  }
  /*Estilização do placeholder do input de pesquisa*/
  ::placeholder {
    display: flex;
    color: #717171;
    font-size: 1rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
  }
  .icone-carrinho-tela-dois {
    display: flex;
    position: relative;
    right: 1rem;
    gap: 1rem;
  }
  .btn-tela-dois {
    display: inline-flex;
    padding: 0.2585rem 0.64031rem 0.279rem 0.60969rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.521rem;
    background: #e49011;
    border: none;
    color: #fffffa;
    font-size: 1.17075rem;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  //hover para o botão entrar/header telas 1025px a 1200px
  .btn-tela-dois:hover {
    opacity: 0.5;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a.router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  a:focus {
    color: #e49011;
    text-decoration: underline;
  }
  .numero-sobre-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 800;
    font-size: 1rem;
    font-family: poppins;
    position: relative;
    left: 1rem;
    top: 0.8rem;
    width: 1.5625rem;
    height: 1.55038rem;
    flex-shrink: 0;
    border-radius: 100%;
   background-color: #FB1111;;
  }
  //Estilização do carrossel
  .grupo-botoes-tela-dois {
    display: flex;
    width: 100%;
    align-items: center;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    height: 3.4375rem;
    gap: 2rem;
    position: fixed;
    top: 5rem;
    bottom: 0;
    left: 0.86rem;
    flex-shrink: 0;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  /* Para navegadores baseados no WebKit (Chrome, Safari, etc.) */
  .grupo-botoes-tela-dois::-webkit-scrollbar {
    display: none;
  }
  .button-tela-dois {
    display: inline-flex;
    padding: 0.55rem 0.9875rem 0.3875rem 1.425rem;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.0625rem;
    border-radius: 1.25rem;
    border: 1px solid #fc7310;
    background: rgba(255, 255, 255, 0);
    font-family: proppis;
    color: #717171;
    text-align: center;
    font-size: 1.1875rem;
    line-height: 1.50938rem;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  .button-tela-dois:hover {
    transform: translateY(-3px);
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.4);
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  .paragrafo-btns-tela-dois .router-link-active {
    color: #e49011;
    text-decoration: underline;
  }
  /*Aplicação de efeito ativo quando a rota estiver ativa*/
  button:focus {
    color: #e49011;
    text-decoration: underline;
  }
}
