@media (min-width: 769px) and (max-width: 1024px){
  //Div que contém todo o conteúdo
.container-modal {
  display: flex;
  justify-content: center;
  padding: 0rem 1.28294rem 1.28294rem 1.28294rem;
  flex-direction: column;
  align-items: center;
  gap: 1.28294rem;
}
.x-modal {
  display: flex;
  position: relative;
  top: 0.8rem;
  right: 1rem;
  left: 48%;
  //margin: 1rem;
}
//Estilização da img casa
.img-casa-modal {
  width: 5.13169rem;
  height: 6.41456rem;
  position: relative;
  top: 3.22rem;
}

//Estilização h2 modal
h2 {
  color: #2e2c36;
  text-align: center;
  font-size: 1.28294rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 800;
  line-height: 1.92438rem;
  position: relative;
  top: 3.5rem;
}
//Estilização do parágrafo
p {
  color: #2e2c36;
  text-align: center;
  font-size: 0.80606rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67294rem;
  position: relative;
  top: 1.8rem;
  white-space: nowrap;
}

//Estilização da img x, de fechar a modal
.x-modal-img {
  width: 1.5395rem;
  height: 1.5395rem;
  flex-shrink: 0;
}
.div-input-modal {
  display: inline-flex;
  padding: 1.69988rem 1.60363rem 1.69988rem 3.91288rem;
  align-items: center;
  border-radius: 0.57731rem;
  border: 1.026px solid #f7f8f9;
  background: #f7f8f9;
  width: 30.4875rem;
  height: 2.6185rem;
  box-shadow: 0px 3.1148204803466797px 3.1148204803466797px 0px #fc7310;
  position: relative;
  top: 2rem;
}
//Img de localização
.img-localizacao-modal {
  width: 1.5395rem;
  height: 1.5395rem;
  flex-shrink: 0;
  position: relative;
  bottom: 0.5rem;
  right: 3rem;
}
//Estilização do input do dialog localização
input {
  display: flex;
  width: 29.98381rem;
  height: 1.21875rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  right: 2.5rem;
  flex-shrink: 0;
  color: #757575;
  font-size: 0.89806rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  outline: none;
}
//Estilização do placeholder
::placeholder {
  color: #757575;
  font-size: 0.89806rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.btn-localizacao {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 36rem;
  z-index: 9999;
}
button {
  padding: 0.3rem 2.5425rem 0rem 2.61375rem;
  display: inline-flex;
  border-radius: 1.125rem;
  gap: 1.125rem;
  align-items: center;
  font-family: Poppins;
  font-size: 0.89806rem;
  background: #000;
  border-radius: 1.125rem;
  color: #e49011;
}

.btn-flutuante {
  /* Estilos do botão flutuante */
  opacity: 0;
  transition: opacity 0.3s ease-out; /* Adicione uma transição de opacidade */
}

//botão abaixo da modal
.btn-flutuante.inicial {
  pointer-events: none;
  position: fixed;
  bottom: -50px;
  right: -50px;
}

.btn-flutuante.visivel {
  opacity: 1;
}
 }
