<div class="container-modal">
  <div class="fechar-modal" mat-dialog-close >
    <img class="fechar-modal-img" src="assets/img/Frame-x.svg" alt="icone x">
  </div>
  <div class="continer-image-casa">
    <img class="img-casa-modal" src="assets/img/image.png" alt="imagem de uma casa">
  </div>
  <div class="titulo">
    <h2>Onde você quer receber seu pedido?</h2>
  </div>
  <div class="frase-modal">
    <p>Informe seu endereço para validar a disponibilidade e cobertura na sua região.</p>
  </div>
  <div class="div-input-modal">
    <img class="img-localizacao-modal" src="assets/img/carbon_location-filled.svg" alt="icone de localização">
    <input type="text" placeholder="Escreva o endereço de entrega">
  </div>
</div>
<div class="btn-localizacao">
  <button class="btn-flutuante" >
    <img src="assets/img/my-location-icon.svg" alt="">
    Usar minha localização
  </button>
</div>

