<!-- <div class="grupo-botoes">
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">Ordenar</span>
    <img src="assets/img/Frame.svg" alt="imagem 1">
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <img src="assets/img/Frame-1.svg" alt="imagem 1">
    <span class="paragrafo-btns">Pra Retirar</span>
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">Entrega grátis</span>
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">Entrega parceira</span>
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">vale refeição</span>
    <img src="assets/img/Frame.svg" alt="imagem 1">
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <span class="paragrafo-btns">Distância</span>
    <img src="assets/img/Frame.svg" alt="imagem 1">
  </button>
</div> -->

<div class="lorem">

  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam, vitae nemo! Fugiat aliquid veritatis libero cumque porro voluptate dolor, molestias pariatur adipisci ex sint, assumenda consequatur aperiam perspiciatis quis ipsum.</p>
</div>
