<div class="conteudo-login">

  <div>
    <img class="img" src="assets/img/logo3.jpg" alt="logo">
  </div>
  <form class="conteudo-form">


    <div class="mat-form">
      <mat-form-field class="mat" appearance="fill" [hideRequiredMarker]="hideRequiredControl.value"
        [floatLabel]="getFloatLabelValue()">
        <mat-label floatLabel="auto">E-mail</mat-label>
        <input class="mensagem-erro" matInput [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="mat" aparência="fill" [hideRequiredMarker]="hideRequiredControl.value"
        [floatLabel]="getFloatLabelValue()">
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [formControl]="senha" required>
        <mat-error *ngIf="senha.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div>
      <button mat-button class="botao">Entrar</button>
    </div>

  </form>

</div>
