<app-header [drawer]="drawer"></app-header>
<mat-drawer-container class="container-fluid example-container">
  <mat-drawer
    #drawer
    mode="side"
    opened
    class="mat-elevation-z8"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)"
  >
    <button mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <span>About</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <span>Help</span>
    </button>
  </mat-drawer>
  <mat-drawer-content class="container-context">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
