<app-header [drawer]="drawer" [drawerCarrinho]="drawerCarrinho" class="container-header mat-elevation-z3"></app-header>
<mat-drawer-container class="example-container">
  <mat-drawer #drawer class="mat-elevation-z3" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="false">

    <div class="top-sidenav">
      <button mat-button class="inicio">
        <mat-icon class="home" routerLink="/pagina-principal">home</mat-icon>
      </button>
      <button mat-button (click)="drawer.toggle()"><i class="pi pi-times"></i></button>
    </div>
    
  </mat-drawer>
  <mat-drawer #drawerCarrinho class="mat-elevation-z1" fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="'over'" [opened]="false" position="end">
    <app-cesta></app-cesta>
  </mat-drawer>
  <mat-drawer-content class="container-context">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
