.example-container {
  display: flex;
  width: 100%;
  height: calc(100% - 125px);
  margin: 65px 0px 0px 0px;
  padding: 0;
  position: fixed;
}

.container-header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 30;
  display: flex;
  height: 3.5rem;
  width: 100vw;
  border-bottom-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 60ms;
}

mat-drawer {
  display: flex;
  width: 250px;
  box-shadow: 0px -2px 16px 0px rgba(0, 0, 0, 0.75);
}

::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  border: none;
}

@media (max-width: 640px) {
  .container-context {
    padding: 0px !important;
  }
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
}

.container-context {
  width: 100%;
  padding: 24px;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  border: none;
  padding: 10px;
  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
.area-login {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.area-login span {
  border: 1px solid lightgray;
  margin-left: 8px;
  margin-right: 8px;
  padding: 5px;
  border-radius: 7px;
  color: white;
  background-color: red;
  font-weight: bold;
}
.delivery_Padaria {
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 15px;
  font-size: 22px;
  border-bottom: 1px solid lightgray;
}
