@media (min-width: 1025px) and (max-width: 1200px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: hidden;
    background: linear-gradient(90deg, black, #e49011);
    background-size: 150% 150%;
  }
  .setas-voltar {
    color: #e49011;
    text-shadow: #fff 0px 4px 0px;
    font-family: poppins;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 0.5rem;
    top: 0.5rem;
  }
  .setas-voltar img {
    width: 92px;
    height: 70px;
    flex-shrink: 0;
  }
  .div-pai-img-form {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .img {
    display: flex;
    position: absolute;
    border-radius: 16.702rem;
    top: 30%;
    left: 10%;
    width: 16.702rem;
    height: 16.702rem;
    background: #fff;
    box-shadow: 0px 13.249284744262695px 13.249284744262695px 0px #717171;
    overflow: hidden;
  }
  .logo-sobreposta {
    display: flex;
    position: absolute;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  //Div que contem a div de todo o conteudo do formúlario
  .container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 28.871rem;
    position: fixed;
    left: 50%;
    background: #fff;
     box-shadow: 0px 5.50537633895874px 22.02150535583496px 0px
         rgba(0, 0, 0, 0.06),
       0px 1.376344084739685px 5.50537633895874px 0px rgba(0, 0, 0, 0.05);
    width: 400px;
    border-radius: 5px;
    align-self: center;

  }

  //Frase: falta pouco para matar sua fome
  h1 {
    display: flex;
    width: 18rem;
    color: #414143;
    text-align: center;
    font-family: Poppins;
    //font-size: 3.75rem; Épropriedade foi alterada
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    //letter-spacing: -0.01238rem;
    letter-spacing: -.0024em;
    position: relative;
    left: 15%;
    bottom: 1.5rem;
  }
  //Frase: Como deseja continuar
  h2 {
    display: flex;
    color: #717171;
    text-align: center;
    font-family: Poppins;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.56131rem;
    white-space: nowrap;
    position: relative;
    bottom: 2rem;
    left: 14%;
  }
  .button-google-fecebook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 2rem;
    gap: 0.5rem;
    left: 2rem;
  }
  //botão facebook-google
  .button-facebook {
    display: flex;
    align-items: center;
    height: 2.8rem;
    width: 85%;
    flex-shrink: 0;
    border-radius: 0.34406rem;
    background: #4065b4;
    white-space: nowrap;
    border: none;
  }
  .button-facebook img {
    width: 70%;
    height: 70%;
    flex-shrink: 0;
    position: relative;
    right: 6rem;

  }
  //Span do botão facebook
  .span-facebook {
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
    position: relative;
    right: 10rem;
    flex-grow: 1;

  }
  .button-google {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 83%;
    height: 2.4rem;
    gap: 2.14581rem;
    flex-shrink: 0;
    border-radius: 0.34406rem;
    white-space: nowrap;
    position: inherit;
    border-radius: 0.34406rem;
    border: 1px solid #dcdcdc;
    background: #fff;
  }
  .button-google img {
    width: 60%;
    height: 60%;
    flex-shrink: 0;
    position: relative;
    right: 2.9rem;
  }
  .span-google {
    color: #3c4043;
    font-family: Poppins;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.0215rem;
    position: relative;
    right: 6rem;
  }
  .btn-email-celular {
    display: flex;
    gap: 0.5rem;
    position: relative;
    bottom: 1.8rem;
  }
  .button-email-celular {
    display: inline-flex;
    padding: 5px 0 5px 0;
    width: 42%;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0.34406rem;
    border: 1px solid #dcdcdc;
    background: #fff;
    position: relative;
    left: 2rem;
    top: 1rem;
    transition: background-color 0.3s ease;
  }

.button-email-celular:hover {
  background-color: #e49011;
}
  .span-email-celular {
    color: #a6a6a6;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.0645rem;
  }
  .border {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1rem;
    left: 0%;
  }
  .bordar-horizontal {
    border-top: 1px solid rgba(220, 220, 220, 0.80);
    width: 21rem;
  }
}
