<div class="cesta-container">
  <div class="topo-cesta">
    <img
      class="icone-home"
      src="assets/img/pesquisa/ic_baseline-home.svg"
      alt="icone home"
      routerLink="/home"
    />
    <h1>Sua cesta</h1>
  </div>
  <div class="localizacao-cesta">
    <img
      class="icon-localizacao-cesta"
      src="assets/img/carbon_location-filled-atual.svg"
      alt="icone-localização"
    />
    <p class="p-localizacao-cesta">Rio de Janeiro</p>
    <img
      class="icon-seta-cesta"
      src="assets/img/eva_arrow-down-fill-atual.svg"
      alt=" icone-seta"
    />
  </div>
  <div class="produtos-cesta">
    <img
      class="img-carrinho"
      src="assets/img/img-cesta/carrinho.svg"
      alt="carrinho"
    />
    <p class="texto-cesta">Você ainda não tem produtos na sua cesta</p>
    <button class="btn">
      <span class="texto-btn">Começar a comprar</span>
    </button>
  </div>
</div>

<!-- Menu fixo -->
<div class="menu-fixo-cesta">
  <div class="item-fixo-cesta" routerLink="/pesquisa">
    <img src="assets/img/material-symbols_search.svg" alt="Buscar" />
    <span>Buscar</span>
  </div>
  <div class="item-fixo-cesta">
    <img src="assets/img/bi_card-checklist.svg" alt="Pedidos" />
    <span>Pedidos</span>
  </div>
  <div class="item-fixo-cesta">
    <img src="assets/img/ic_baseline-contact-phone.svg" alt="Contato" />
    <span>Contatos</span>
  </div>
  <div class="item-fixo-cesta" routerLink="/app-login">
    <img src="assets/img/gg_profile.svg" class="perfil-img" alt="Perfil" />
    <span>Entrar</span>
  </div>
</div>
