<div class="container">
  <div class="div-pai-img-form ">
    <span class="setas-voltar" routerLink="/home">
      <p ><<</p>
    </span>
    <div class="img">
      <img class="logo-sobreposta" src="assets/img/logo2-login.png" alt="logo da tela de login">
    </div>
    <div class="container-formulario">
        <h1>Falta pouco
          para matar
          sua fome!</h1>
        <h2>Como deseja continuar?</h2>
        <div class="button-google-fecebook">
          <button class="button-facebook">
            <img src="assets/img/Frame-facebook.svg" alt="Imagem do botão">
            <span class="span-facebook">Continuar com Facebook</span>
          </button>
          <button class="button-google">
            <img src="assets/img/Frame-google.svg" alt="Imagem do botão">
            <span class="span-google">Fazer login com Google</span>
          </button>
        </div>
        <div class="btn-email-celular">
          <button class="button-celular">
            <span class="span-email-celular" routerLink="/informar-celular">Celular</span>
          </button>
          <button class="button-email">
            <span class="span-email-celular" routerLink="/informar-email">Email</span>
          </button>
        </div>
        <div class="border">
          <span class="bordar-horizontal"></span>
        </div>
    </div>

  </div>

</div>
