@media (min-width: 1201px) {
  .container {
    display: flex;
    top: 0;
    bottom: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: fixed;
  }
  //Setas que ficam no canto superior esquerdo indicando voltar a tela anterior
  .setas-voltar {
    color: #e49011;
    text-shadow: 0px 4px 4px 0px #fff;
    font-family: poppins;
    font-size: 6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 1rem;
    grid-area: 0.05rem;
  }
  //div que contém a imagem que pega a tela toda e a elipse
  .div-pai-img-form {
    display: flex;
    background-image: url("/assets/img/Form_Entrada_amarelo.svg");
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    background-position: center top;
    height: 100%;
    width: 100%;
    overflow: hidden;
    //gap: 3.97rem;
    padding: 0;
    margin: 0;
  }
  //Elipse com a logo dentro
  .img {
    display: flex;
    position: absolute;
    border-radius: 20.702rem;
    top: 30%;
    left: 2%;
    width: 20.702rem;
    height: 20.702rem;
    background: #fff;
    box-shadow: 0px 13.249284744262695px 13.249284744262695px 0px #717171;
    overflow: hidden;
  }
  //Logo que está dentro da elipse
  .logo-sobreposta {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  //Div que contem a div de todo o conteudo do formúlario
  .container-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48.38169rem;
    height: 31.875rem;
    flex-shrink: 0;
    position: absolute;
    top: 16%;
    right: 3%;
    border-radius: 0.75894rem;
    background: #fff;
    box-shadow: 0px 1.517857313156128px 6.071429252624512px 0px
      rgba(0, 0, 0, 0.05);
  }

  //Div que contém o titulo (informe o numero do seu celular para continuar)
  .titulo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    top: -2rem;
    //bottom: 10rem;
  }
  //Titulo (informe o numero do seu celular para continuar)
  h1 {
    display: flex;
    color: #717171;
    font-family: Poppins;
    font-size: 1.70756rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.96375rem;
  }
  //Div que contém o input e abandeira do Brasil
  .input-informar-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  //Div com o 55+ e a bandeira do Brasil
  .lado-esquerdo-do-input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
  }
  //imagem da bandeira do Brasil
  .icone-bandeira-do-brasil {
    width: 2.26175rem;
    height: 2.26175rem;
    flex-shrink: 0;
  }
  //Conteúdo ao lado da bandeira do Barasil(55+)
  .codigo-postal {
    color: #717171;
    font-family: Roboto;
    font-size: 1.70756rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.74556rem;
  }
  //Placeholder do input
  ::placeholder {
    color: #a6a6a6;
    font-family: Poppins;
    font-size: 1.51788rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.74556rem;
    position: relative;
    left: 0.5rem;
  }

  .codigo-postal-e-bandeira-do-brasil {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 7.87388rem;
    height: 4.55356rem;
    flex-shrink: 0;
    border-radius: 0.37944rem;
    background: #dcdcdc;
  }
  input {
    width: 30.07256rem;
    height: 4.55356rem;
    flex-shrink: 0;
    border-radius: 0.37944rem;
    border: 3px solid #dcdcdc;
  }
  span {
    color: #717171;
    text-align: center;
    font-family: Poppins;
    font-size: 1.51788rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.74556rem;
  }
  .texto-acima-do-botao-whatsApp {
    position: relative;
    top: 2rem;
  }
  .btn-whatsApp {
    position: relative;
    top: 4rem;
  }

  button {
    width: 38.89506rem;
    height: 4.74331rem;
    flex-shrink: 0;
    border-radius: 0.37944rem;
    background: #e49011;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 1.89731rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.51788rem;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
