@import url("https://fonts.cdnfonts.com/css/poppins");


* {
  font-family: "poppins";
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//  .app-content {
//    margin-top: 4.375rem; /* A altura do header */
//  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
