@import url('https://fonts.cdnfonts.com/css/poppins');
*{
  font-family: "poppins";
}
body {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.app-content {
  margin-top: 70px; /* A altura do header */
}
