<div class="titulo-vale-close">
  <h1 matDialogTitle>Vale-refeição/alimentação</h1>
  <mat-icon (click)="closeDialog()" class="fechar" align="end">close</mat-icon>
</div>
<form class="example-section" [formGroup]="toppings">
  <div class="Refeicao">
    <p><mat-checkbox formControlName="vrRefeicao">VR Refeição</mat-checkbox></p>
    <img class="img-vale" src="assets/img/VRO.avif" alt="img">
  </div>
  <div class="Refeicao">
    <p><mat-checkbox formControlName="sodexoRefeicao">Sodexo Refeição</mat-checkbox></p>
    <img class="img-vale" src="assets/img/SRP.png" alt="img">
  </div>
  <div class="Refeicao">
    <p><mat-checkbox formControlName="aleloRefeicao">Alelo Refeição</mat-checkbox></p>
    <img class="img-vale" src="assets/img/ALR.avif" alt="img">
  </div>
  <div class="Refeicao">
    <p><mat-checkbox formControlName="ticketRefeicao">Ticket Restaurante</mat-checkbox></p>
    <img class="img-vale" style="background-color: red ;" src="assets/img/TRO.png" alt="img">
  </div>
  <div class="Refeicao">
    <p><mat-checkbox formControlName="benRefeicao">Ben Refeição</mat-checkbox></p>
    <img class="img-vale" src="assets/img/BENRON.avif" alt="img">
  </div>
</form>
