@media (max-width: 319px) {
  //Div que contém todo o conteúdo
  .container-modal {
    display: flex;
    justify-content: center;
    //padding: 0rem 1.28294rem 1.28294rem 1.28294rem;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    z-index: 999;
    position: relative;
  }
  .x-modal {
    display: flex;
    position: relative;
    top: 0.9rem;
    left: 100px;
    //margin: 1rem;
  }
    //Estilização da img x, de fechar a modal
    .x-modal-img {
      width: 1rem;
      height: 1rem;
      flex-shrink: 0;
      position: relative;
     
    }

  //Estilização da img casa
  .img-casa-modal {
    width: 2.5rem;
    height: 3.12494rem;
    position: relative;
    top: 0.5rem;
  }

  //Estilização h2 modal
  h2 {
    color: #2e2c36;
    text-align: center;
    font-size: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    line-height: 10px;
    position: relative;
    bottom: 0rem;
  }

  //Estilização do parágrafo
  p {
    display: none;
  }

  .div-input-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    //padding: 0.78869rem 0.74406rem 0.78869rem 0.8155rem;
    border-radius: 0.26788rem;
    border: 0.476px solid #F7F8F9;
    background: #f7f8f9;
    width: 200px;
    height: 1.8rem;
    box-shadow: 0px 3.1148204803466797px 3.1148204803466797px 0px #fc7310;
    position: relative;
    bottom: 1.5rem;
  }

  //Img de localização
  .img-localizacao-modal {
    width: 0.6rem;
    height: 0.6rem;
    flex-shrink: 0;
    position: relative;
    bottom: 0.1rem;
    right: 0rem;
  }

  //Estilização do input do dialog localização
  input {
    display: flex;
    width: 100px;
    height: 1.21875rem;
    flex-direction: column;
    justify-content: center;
    position: relative;
    flex-shrink: 0;
    color: #757575;
    font-size: 8px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    outline: none;
  }

  //Estilização do placeholder
  ::placeholder {
    color: #757575;
    font-size: 7px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    left: 0;
  }

  .btn-localizacao {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 1.5rem;
  }

  button {
    //padding: 0.2rem 0.6rem 0.2rem 0.6;
    display: inline-flex;
    border: none;
    border-radius: 1rem;
    width: 130px;
    height: 18px;
    gap: 12px;
    align-items: center;
    font-family: Poppins;
    font-size: 7px;
    background: #000;
    border-radius: 1.125rem;
    color: #e49011;
  }

  .btn-flutuante img {
    width: 12px;
    height: 12px;
    position: relative;
    left: 5px;
  }

}
