<div class="pai">
  <div class="container-card-imagem" style="position: absolute; width: 100%; min-height: 700px;">
    <div class="card-imagem">
      <img alt="Background com uma proprietária de restaurante" sizes="100vw"
        src="https://parceiros.ifood.com.br/_next/image?url=%2Fimages%2Fsections%2Fform%2Fbackground-desktop.webp&w=1920&q=75"
        decoding="async" data-nimg="fill"
        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%; object-fit: cover; object-position: center top;">
    </div>
    <div class="" style="position: relative;z-index: 1;">
      <div class="container-card-login"
        style="margin: 0px auto; max-width: 1023px; padding-left: 24px; padding-left: 24px;">
        <div class="container-card-login-filho" style="display: grid; gap: 56px; grid-template-columns: 1fr 1fr;">
          <section style="display: grid; -webkit-box-align: center;">
            <div>
              <h1 style="font-size: 64px; line-height: 68px; margin: 0px; font-weight: 500; color: rgb(255, 255, 255)">
                60 milhões de pedidos em apenas um mês
              </h1>
              <h2 style="font-size: 32px; line-height: 20px; font-weight: normal; color: rgb(255, 255, 255)">
                Alavanque suas vendas.
              </h2>
            </div>
          </section>
          <div>
            <div class="formulario">
              <h2 style="color: rgb(62, 62, 62); font-size: 32px; line-height: 48px; margin: 0px">
                Cadastre sua loja</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>