.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}
.titulo h1 {
  font-family: sans-serif;
  line-height: 48px;
  margin: 5rem 0px 0px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 80%;
  font-size: 48px;
  font-weight: 500;
  color: rgb(4, 5, 5);
}
.titulo span {
  color: rgb(239, 87, 83);
  border-bottom: 1px solid rgb(231, 224, 224);
}
.img {
  display: flex;
  flex-direction: column;
  height: 60%;
  width: 100vw;
  position: relative;
}
.tl-esquerdo {
  display: flex;
  position: absolute;
  left: 15%;
  margin-left: -120px;
  top: 70%;
  margin-top: -75px;
  width: 50%;
  height: 50%;
}
.tl-esquerdo h2 {
  display: flex;
  font-family: sans-serif;
  font-size: 3em;
  font-weight: 500;
  color: red;
  margin-bottom: 2em;
}
.tl-esquerdo p {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: 800;
  color: red;
}
.lado-direito {
  display: flex;
  position: absolute;
  right: 5%;
  margin-right: -180px;
  top: 70%;
  margin-top: -75px;
  width: 50%;
  height: 50%;
}
.paragrafo-filho {
  font-size: 1.5em;
  color: rgb(29, 26, 26);
}
.paragrafo-filho2 {
  font-size: 1em;
  color: rgb(46, 41, 41);
}
/*Segunda parte da pagina*/
.segunda-parte {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}
.img2 {
  width: 600px;
  height: 300px;
  border-radius: 5px;
}
.h2-p h2 {
  font-family: sans-serif;
  font-size: 3.1em;
  color: red;
  margin-bottom: 1em;
}
.h2-p {
  margin: 50px 10px 10px 50px;
}
.h2-p p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: larger;
}
.pai {
  display: flex;
}
.imgs {
  height: 200px;
  width: 200px;
  background-color: red;
}
@media (max-width: 547px) {
  .titulo {
    display: flex;
  }
  .titulo h1 {
    display: none;
  }
  .img2 {
    display: none;
  }
  .imgs {
    display: none;
  }
  .titulo span {
    display: none;
  }
  h2 {
    display: none;
  }
  .h2-p p {
    display: none;
  }
  .segunda-parte {
    display: none;
  }
  .tl-esquerdo p {
    display: none;
  }
  .tl-esquerdo h2 {
    display: none;
  }
  .lado-direito {
    display: flex;
    position: absolute;
    right: 4%;
    margin-right: 140px;
    top: 40%;
    margin-top: -65px;
    width: 50%;
    height: 50%;
  }
}
@media (max-width: 768px) {
  .titulo h1 {
    font-family: sans-serif;
    line-height: 48px;
    margin: 5rem 0px 0px;
    padding-top: 0px;
    padding-bottom: 12px;
    max-width: 80%;
    font-size: 38px;
    font-weight: 500;
    color: rgb(4, 5, 5);
  }
  .tl-esquerdo p {
    display: none;
  }
  .tl-esquerdo h2 {
    display: none;
  }
  .lado-direito {
    display: flex;
    position: absolute;
    right: 4%;
    margin-right: 140px;
    top: 60%;
    margin-top: -65px;
    width: 50%;
    height: 50%;
  }
  .form-group {
    width: 700px;
  }
  .container-img {
    top: 900px;
  }
  .img {
    top: 50px;
  }
  .lado-direito {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-enviar {
    width: 100%;
    padding: 15px;
    font-size: 2.5em;
  }
  .form-control {
    padding: 15px;
  }
}
