@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Nunito:wght@200&display=swap");

ontainer-card-imagem {
  position: relative;
  width: 100%;
  min-height: 700px;
}
.card-imagem {
  display: flex;
  width: 100%;

}
.img-marketing-01 {
  display: flex;
  position: absolute;
  inset: 0px;
  box-sizing: border-box;
  padding: 0px;
  border: none;
  margin: auto;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center top;
}
.parte-de-fora {
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;
  object-position: 50% 50%;
  justify-content: space-around;
}
.primeira-parte-fraseh1-h2 {
width: 50%;
}
.section-h1-h2-form {
  display: flex;
  margin-top: 8em;


}
.section-h1-h2-form h1 {
  width: 50%;
  display: flex;
  font-family: "Noto Sans", sans-serif;
  font-size: 46px;
  line-height: 40px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}
.section-h1-h2-form h2 {
  display: flex;
  width: 50%;
  font-family:"Noto Sans", sans-serif;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);

}

// .formulario {

//   background-color: rgb(255, 255, 255);
//   border-width: 1px;
//   border-style: solid;
//   border-color: rgb(242, 242, 242);
//   padding: 24px;
//   border-radius: 5px;
//   margin-top: 5em;
// }
// .formulario h2 {
//   color: rgb(62, 62, 62);
//   font-size: 32px;
//   line-height: 48px;
//   margin: 0px;
//   margin-top: 0;
// }
// .formulario h3 {
//   display: block;
//   font-size: 16px;
//   line-height: 24px;
//   font-weight: 400;
//   color: rgb(113, 113, 113);
//   margin-bottom: 1.2em;
// }
// .formGroup {
//   display: flex;
//   width: 100%;
//   flex-direction: column;
// }
// label {
//   font-weight: 600;
//   font-size: 16px;
//   line-height: 24px;
//   color: rgb(62, 62, 62);
//   margin-bottom: 4px;
// }
// .capticha {
//   font-size: 12px;
//   line-height: 16px;
//   color: rgb(113, 113, 113);
//   font-weight: 500;
//   margin-bottom: 1.4em;
// }
/* arquivo.scss (ou arquivo.css se você não estiver usando SCSS) */
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-field {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  color: white; /* Altera a cor do texto para branco */
}

/* Altera a cor das bordas para branco */
.mat-form-field-appearance-outline .mat-form-field-outline {
  display: flex;
  color: white;
}

/* Altera a cor das bordas quando em foco para branco */
.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: white;
}

/* arquivo.scss (ou arquivo.css se você não estiver usando SCSS) */
.form-container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-field {
  width: 45%;
  margin-bottom: 10px;
}

button[type="submit"] {
  margin-top: 0px;
  background-color: #512da8;

}
/*Segunda parte da página*/
.pai-parte2 {
  display: flex;
  padding: 8rem 0rem 2rem 0rem;
  width: 100%;
}
.parte2-img {
  max-width: 100%;
  min-height: 100%;
  max-height: 100%;
  min-height: 100%;
}
.parte2-h2-h5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.parte2-h2-h5 span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(234, 29, 44);
  font-size: 58px;
  line-height: 65px;
  font-family: "Merriweather", serif;
}
.parte2-h2-h5 h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 58px;
  line-height: 58px;
  font-family: "Merriweather", serif;
  font-weight: 500;
  color: rgb(62, 62, 62);
  width: 65%;
}
.parte2-h2-h5 h5 {
  font-family: sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: rgb(113, 113, 113);
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  width: 70%;
}
/*Tenceira parte da tela de cadastro*/
.terceiraParte {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 20px;
  padding-bottom: 56px;
  margin-bottom: 20px;
  background-color: rgb(218, 43, 55);
  color: rgb(62, 62, 62);
  z-index: 0;
  height: 300px;
}
.terceiraParte h2 {
  text-align: center;
  font-family: "Merriweather", serif;
  line-height: 32px;
  font-size: 42px;
  padding-bottom: 1.5em;
  color: rgb(255, 255, 255);
}
.terceiraParte h3 {
  display: block;
  font-family: "Merriweather", serif;
  line-height: 32px;
  font-size: 16px;
  text-align: center;
  color: rgb(255, 255, 255);
  width: 40%;
}
.imgs-parte3 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
/**/

.icone-aumentar-porcentagem {
  width: 5%;
  margin-top: 35px;
  margin-left: 10%;
  margin-left: 3%;
}
.icones-escondidos {
  visibility: hidden;
}
.conteudo-oculto {
  visibility: hidden;
}
//Aqui começa a quarta parte da página cadastro
.quarta-parte {
  display: flex;
  justify-content: space-around;
  align-items:  center;
  margin: 4em 25em 1em 8em;
}
.quarta-parte-texto-principal h2 {
  font-size: 64px;
  line-height: 58px;
  width: 55%;
  font-family: "iFood RC Títulos";

}
.quarta-parte-texto-principal span {
  font-size: 64px;
  color: rgb(89, 114, 238);
  font-family: "iFood RC Títulos";
  width: 100%;
}
.quarta-parte-texto-secundario {
  width: 75%;
  font-family: "iFood RC Títulos";
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  color: rgb(113, 113, 113);
}
.quarta-parte-imagem img{
max-width: 100%;
object-fit: cover;
}
// @media only screen and (max-width: 414px) {
//   .parte2-h2-h5 {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//  .parte2-h2-h5 h2 {
//   font-size: 12px;
//  }
//  .parte2-h2-h5 span {

//  }
//  .parte2-h2-h5 h5 {

//  }
// .quarta-parte {
//   width: 100%;
//   align-items: center;
//   justify-content: center;
//  }
//  .quarta-parte-texto-principal {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//    justify-content: center;
//    width: 100%;
//  }
//  .quarta-parte-texto-principal h2 {
//   font-size: 20px;
//   width: 90%;
//   line-height: 30px;
//  }
//  .quarta-parte-texto-principal span {
//   font-size: 30px;
//   width: 90%;
//  }
//  .quarta-parte-texto-secundario {
//   width: 90%;
//  }
// }
/* Smartphones (690px para baixo) */
/*@media only screen and (min-width: 523px) {
  .frase-de-negocio { //classe da primeira parte
    display: inline-block;
    justify-content: flex-end;
    align-items: center;
    padding-top: 0;
    margin: 0;
  }
  .frase-de-negocio h1 { //primeira parte
    font-family: sans-serif;
    font-size: 35px;
    line-height: 38px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
  }
  .frase-de-negocio h2 { //primeira parte
    display: block;
    font-family: sans-serif;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  .container-card-login-filho {//classe da primeira parte
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }

  .container-card-imagem {//classe da primeira parte
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    width: auto;
    height: auto;
    padding: 0%;
  }
  .parte-de-fora {//classe da primeira parte
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;
  }
  .primeira-parte-cadastro {//classe da primeir parte
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .formulario { //classe da primeira parte
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.4em;
    padding-top: 0.5em;
    margin-bottom: 0.3em;
    margin-top: 0.5em;
    margin-right: 18px;
  }
  .formulario .formGroup {  //classe da primeira parte formulário
    width: auto;
    max-width: 90%;
  }
  .formulario h2 {  //classe ca primeira parte dentro do formulário
    font-size: 28px;
  }
  .label {  //classe da primeira parte do formulário
    font-size: 14px;
  }
  .p-button-danger {  //classe da primeira parte do formulário
    padding: 3px;
  }
  .card-imagem {  //classe da primeira parte do formulário
    width: 100%;
  }
  .pai-parte2 {  //classe da segunda parte
    flex-direction: column;
    width: 100%;
  }
  .parte2 {  //classe da segunda parte
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .parte2 img {  //calsse da segunda parte
    display: flex;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 100%;
  }
  .parte2-h2-h5 h2 {

  }
  .btn-dimensionamento {
    padding: 3px;
    margin: 3px;
  }
  .icones-escondidos {
    visibility: hidden;
  }
  .pai-parte2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
  .parte2 {
    width: 100%;
  }
  .parte2-h2-h5 h2 {
    font-size: 20px;
    align-items: center;
    width: 100%;
    line-height: 0px;
  }
  .parte2-h2-h5 span {
    font-size: 20px;
    align-items: center;
    width: 25%;


  }
  .parte2-h2-h5 h5 {
    font-size: 18px;
    align-items: center;
    width: 95%;
    margin-top: 0px;
    margin-bottom: 50px;
  }
  .terceiraParte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .terceiraParte h2 {
    font-size: 16px;
    margin-top: 20px;
    padding-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .terceiraParte h3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 60%;
    line-height: 1.4;
  }
  .icones-escondidos {
    visibility: visible;
    width: 12%;
    margin-bottom: 1em;
  }
  .icone-aumentar-porcentagem {
    display: none;
  }
  .imgs-parte3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conteudo-oculto {
    visibility: hidden;
  }
  .frases-e-icones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quarta-parte {
    display: flex;
    justify-content: center;
    align-items:  center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .quarta-parte-texto-principal h2 {
    font-size: 32px;
    line-height: 18px;
    font-family: "iFood RC Títulos";
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
  }
  .quarta-parte-texto-principal span {
    font-size: 32px;
    line-height: 18px;
    width: 100%;
    font-family: "iFood RC Títulos";
    margin: 0;
    padding: 0;
  }
  .quarta-parte-texto-secundario {
    width: 60%;
    font-family: "iFood RC Títulos";
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    color: rgb(113, 113, 113);
    margin-left: 20px;
    margin-top: 25px;
  }
}*/

/* Dispositivos um pouco maiores, mas ainda pequenos (Pequenos Tablets e Smartphones + largos, 600px para cima) */
/*@media only screen and (min-width: 524px) {
  .formulario {
    display: block;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
  }
  .card-imagem {
    display: flex;
    flex-direction: column;
  }
  .container-card-login-filho {
    display: flex;
    flex-direction: column;

  }
  .primeira-parte-cadastro {
    margin-right: 3%;

  }
  .frase-de-negocio h1 {
    font-size: 25px;
    line-height: 25px;
    width: 100%;
  }
  .frase-de-negocio h2 {
    font-size: 15px;
    line-height: 15px;
  }

  .container-card-imagem {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    width: auto;
    height: 100vh;
  }
  .btn-dimensionamento {
    padding: 2px;
  }
  .formulario h3 {
    font-size: 12px;
    margin-top: -14px;
  }
  .formulario h2 {
    font-size: 26px;
    margin-top: -23px;
    margin-bottom: 31px;
  }
  .formGroup {
    margin-top: -67px;
  }
  .pai-parte2 {
    display: flex;
    padding: 2rem 0.3rem 4rem 1.5rem;
  }
  .parte2-img {
    display: flex;
    width: 100%;
    padding: 2rem 0 0 0;
  }
  .parte2-h2-h5 {
    width: 100%;
    display: flex;
  }

  .parte2-img {
    width: 100%;
  }
  .parte2-h2-h5 h2 {
    width: 80%;
    font-size: 35px;
    padding-bottom: 1%;
    margin-top: 3%;
  }
  .parte2-h2-h5 span {
    width: 27%;
    font-size: 35px;
    padding: 0;
  }
  .parte2-h2-h5 h5 {
    width: 93%;
    font-size: 27px;
    line-height: 36px;
  }
  //parte 3
  .imgs-parte3 h3 {
    width: 100%;
    font-size: 16px;
    margin-right: 11%;
    margin-left: -41%;
  }
  .imgs-parte3 {
    display: flex;
    justify-content: space-between;
  }
  .imgs-parte3 {
    display: flex;
  }
  .parte2-h2-h5 h2 {
    font-size: 14px;
    align-items: center;
    width: 100%;
  }
  .parte2-h2-h5 span {
    font-size: 14px;
    align-items: center;
  }
  .parte2-h2-h5 h5 {
    font-size: 12px;
    align-items: center;
    width: 100%;
    margin-top: 0px;
  }
  .terceiraParte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .terceiraParte h2 {
    font-size: 30px;
    margin-top: 49px;
    margin-bottom: 0px;
  }
  .terceiraParte h3 {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 42%;
    line-height: 1.4;
    margin-left: 63px;
  }
  .icones-escondidos {
    visibility: visible;
    width: 12%;
    margin-bottom: 1em;
  }
  .icone-aumentar-porcentagem {
    display: none;
  }
  .imgs-parte3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .conteudo-oculto {
      visibility: hidden;
    }
    .frases-e-icones {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
@media  only screen and (min-width: 586px) {
  .terceiraParte {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .quarta-parte-texto-principal {
    width: auto;
    margin: auto;
  }
  .quarta-parte-texto-principal h2 {
    font-size: 50px;
    margin: 0px;
  }
  .quarta-parte-texto-principal span {
    font-size: 50px;
    margin: 0px;
  }
  .imgs-parte3 {
    display: flex;
    margin-right: 10px;
  }
}
@media only screen and (min-width: 820px) {
  .container-card-login {
    margin: 300px auto;
    width: 100%;
    height: 100%;
  }
  .formulario {
    width: 100%;
    margin-top:-30%;
  }
  .primeira-parte-cadastro {
    padding: 0;
  }
  .container-card-imagem {
    position: relative;
  }
  .section {
    display: grid;
    -webkit-box-align: center;
    margin-top: 3em;
  }
  .container-card-login-filho {
    display: flex;
    flex-direction: row;
  }
  .frase-de-negocio h1 {
    font-size: 60px;
    line-height: 50px;
    width: 60%;
  }
  .frase-de-negocio h2 {
    font-size: 20px;
    line-height: 28px;
  }
  .pai-parte2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .parte2-img {
    width: 100%;
  }
  .parte2-h2-h5 h2 {
    width: 90%;
    font-size: 38px;
    padding-bottom: 5%;
  }
  .parte2-h2-h5 span {
    width: 25%;
    font-size: 38px;
    padding-bottom: 0;
  }
  .parte2-h2-h5 h5 {
    width: 50%;
    font-size: 20px;
  }
  .imgs-parte3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .terceiraParte h2 {
    font-size: 45px;
  }
  .terceiraParte h3 {
    font-size: 14px;
  }
  .icones-escondidos {
    width: 8%;
  }

  .conteudo-oculto {
    visibility: visible;
  }
  .btn-dimensionamento {
    padding: 5px;
  }
  .frases-e-icones img {
    margin-bottom: 5%;
  }
  .quarta-parte {

  }
  .quarta-parte-texto-principal h2 span {
   ;
  }
  .quarta-parte-imagem img{

  }
}*/
