<div class="container">
  <div class="row">
    <!--Início da div contendo o h1-->
    <div class="col-12 d-flex titulo">
      <h1>Venda mais com sua <span>Padaria online</span></h1>
    </div>
    <div class="row">
    </div>
  </div>
  <!--Fim da div contendo o h1-->
  <div class="row">
    <div class="col-12 container-img">
      <img class="img" src="assets/img/pao.jpg" alt="imagem">
      <div class="titulo col">
        <div class="container col">
          <div class="tl-esquerdo col-8">
            <h2 class="col">Aqui<br> você<br> vende<br> de <br>Verdade!</h2>
            <p>Conecte seu negócio a milhões de clientes ativos
              na nossa plataforma.<br> Cadastre-se e aumente suas
              vendas.</p>
          </div>
          <div class="col lado-direito">
            <form>
              <div class="paragrafo-pai">
                <p class="paragrafo-filho">Cadastre sua padaria</p>
                <p class="paragrafo-filho2">Lucre muito mais vendeno aqui!</p>
              </div>
              <div class="form-group row">
                <div class="col">
                  <label for="exampleInputEmail1" class="label-inputs mb-1 fw-bold">Nome completo</label>
                  <input type="text" class="form-control" placeholder="Nome">
                </div>
              </div>
              <div class="form-group row">
                <div class="col mb-4">
                  <label for="exampleInputEmail1" class="label-inputs mb-1 fw-bold">Endereço de e-mail</label>
                  <input type="email" class="form-control" id="inputEmail3" placeholder="E-mail">
                </div>
              </div>
              <div class="form-group row">
                <div class="col mb-4">
                  <label for="exampleInputEmail1" class="label-inputs mb-1 fw-bold">Telefone com DDD</label>
                  <input type="tel" class="form-control" id="tel" placeholder="(00) 00000-0000">
                </div>
              </div>
              <div class=" col">
                <button type="submit" class="btn btn-primary active btn-lg  mb-3 btn-enviar" data-bs-toggle="button"
                  aria-pressed="true"
                  style="--bs-btn-padding-y: 0.5rem; --bs-btn-padding-x: 8rem; --bs-btn-font-size: .75rem;">Cadastrar
                  agora</button>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col  segunda-parte">
            <img class="img2" src="assets/img/pao2.jpg" alt="">
            <div class="col h2-p">
              <h2 class="text-wrap">A parceria certa para o seu negócio.</h2>
              <p class="text-break">Com o <span>Pararia online</span>, você conecta sua padaria a milhões de novos
                clientes, expande sua
                área de entrega e vende muito mais.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row ">
        <div class="col">
          <div class="imgs-foquete imgs">
            <img class="foguete mb-5 mt-4" src="assets/img/foguete.png" alt="img">
            <span class="col fw-bold m-2">
              Acelere suas vendas e invista no seu negócio com sua padaria online
            </span>
          </div>
        </div>
        <div class="col">
          <div class="imgs-foguete imgs">
            <img class="foguete mb-5 mt-" src="assets/img/crescimento.png" alt="img">
            <span class="col fw-bold m-2">
              Sua pdaria na palma da mão dos seus cliente, não tenha medo de ver seu negócio crescer.
            </span>
          </div>
        </div>
        <div class="col">
          <div class="imgs-foguete imgs">
            <img class="foguete mb-5 mt-4" src="assets/img/loja.png" alt="img">
            <span class="col fw-bold m-2">
              Aqui vai uma frase de marketing para atrair clientes a se cadastrarem</span>
          </div>
        </div>
        <div class="col">
          <div class="imgs-foguete imgs">
            <img class="foguete mb-5 mt-4" src="assets/img/aumentar.png" alt="img">
            <span class="col fw-bold m-2">
              Aqui vai uma frase de marketing para atrair clientes a se cadastrarem
            </span>
          </div>
        </div>
      </div>
