<div class="titulo col">
  <h1>Venda mais com sua <span>padaria online</span></h1>
</div>
<div class="container col-12">
  <div class="texto-lado-esquerdo col-8">
    <h2 class="col ">Venda mais com o Padaria online </h2>
  </div>
  <div class="col-4 lado-direito">
    <form>
      <div class="paragrafo-pai">
        <p class="paragrafo-filho">Cadastre sua padaria</p>
        <p class="paragrafo-filho2">Lucre muito mais vendeno aqui!</p>
      </div>
      <div class="form-group row">
        <div class="col mb-4">
          <label for="exampleInputEmail1" class="label-inputs">Nome completo</label>
          <input type="text" class="form-control" placeholder="Nome">
        </div>
      </div>
      <div class="form-group row">
        <div class="col mb-4">
          <label for="exampleInputEmail1" class="label-inputs">Endereço de email</label>
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
      <div class="form-group row">
        <div class="col mb-4">
          <label for="exampleInputEmail1" class="label-inputs">Telefone com DDD</label>
          <input type="tel" class="form-control" id="tel" placeholder=" Telefone (00) 00000-0000">
        </div>
      </div>
    </form>
  </div>
