<!--Aqui começa a parte da que corresponde as telas entre 320px e 480px tela-cinco-->
<header class="header-tela-cinco">
  <div class="div-logo-tela-cinco">
    <img
      class="logo2-tela-cinco"
      src="assets/img/logo2.png"
      alt="imagem de paes"
    />
  </div>
  <div class="paragrafo-e-icones-tela-cinco" (click)="openDialog()">
    <div class="img-tela-cinco">
      <img
        class="icon-localizacao-tela-cinco"
        src="assets/img/carbon_location-filled-tela-tres.svg"
        alt="icone-localização"
      />
    </div>
    <div class="text-tela-cinco">
      <p class="paragrafo-localizacao-tela-cinco">Escolha um endereço</p>
    </div>
    <div class="img-seta-invertida-tela-cinco">
      <img
        class="icon-seta-inveritda-tela-cinco"
        src="assets/img/eva_arrow-down-fill-atual.svg"
        alt=" icone-seta"
      />
    </div>
  </div>
  <!-- <div class="menu-tela-cinco">
    <a class="menu-filho-tela-cinco" routerLink="home" routerLinkActive="active">Início</a>
    <a class="menu-filho-tela-cinco" routerLink="/placeholder" routerLinkActive="active">Padarias</a>
    <a class="menu-filho-tela-cinco" routerLink="/placeholder" routerLinkActive="active">Contato</a>
    <a class="menu-filho-tela-cinco" routerLink="/placeholder" routerLinkActive="active">Sobre</a>
  </div> -->
</header>
<!---Início do carrossel da tela cinco 320px a 480px ou inferiores-->
<div class="grupo-botoes-tela-cinco">
  <button
    class="button-tela-cinco"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-tela-cinco">Ordenar</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button class="button" routerLink="/placeholder" routerLinkActive="active">
    <img src="assets/img/Frame-1.svg" alt="imagem 1" />
    <span class="paragrafo-btns-tela-cinco">Pra Retirar</span>
  </button>
  <button
    class="button-tela-cinco"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-cinco">Entrega grátis</span>
  </button>
  <button
    class="button-tela-cinco"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-cinco">Entrega parceira</span>
  </button>
  <button
    class="button-tela-cinco-tela-cinco"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-cinco">vale refeição</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
  <button
    class="button-tela-cinco"
    routerLink="/placeholder"
    routerLinkActive="active"
  >
    <span class="paragrafo-btns-tela-cinco">Distância</span>
    <img src="assets/img/Frame.svg" alt="imagem 1" />
  </button>
</div>

<div class="groupo-icones-img-fixo-tela-cinco">
  <div class="item-fixo-tela-cinco">
    <img src="assets/img/material-symbols_search.svg" alt="Buscar" />
    <span>Buscar</span>
  </div>
  <div class="item-fixo-tela-cinco">
    <img src="assets/img/bi_card-checklist.svg" alt="Pedidos" />
    <span>Pedidos</span>
  </div>
  <div class="item-fixo-tela-cinco">
    <img src="assets/img/ic_baseline-contact-phone.svg" alt="Contato" />
    <span>Contatos</span>
  </div>
  <div class="item-fixo-tela-cinco">
    <img src="assets/img/gg_profile.svg" alt="Perfil" />
    <span>Perfil</span>
  </div>
</div>
